.modal.fade(ng-controller="ContactMediumUpdateCtrl as entryAttrVM")
  .modal-dialog
    .modal-content
      .modal-header
        .h4
          strong Business address
      .modal-body
        business-address-form(
          form="entryAttrVM.form"
          controller="entryAttrVM"
          email-address="entryAttrVM.data"
          postal-address="entryAttrVM.data"
          telephone-number="entryAttrVM.data"
        )
      .modal-footer
        a.btn.btn-success.z-depth-1(data-dismiss="modal" ng-click="entryAttrVM.update(entryAttrVM.form)" ng-disabled="!entryAttrVM.form.$valid")
          span.item-text Update
        a.btn.btn-default.z-depth-1(data-dismiss="modal")
          span.item-text Cancel