.modal.fade(ng-controller="LoginCtrl as loginCtl")
  .modal-dialog
    .modal-content
      .modal-header
        .h4
          strong #{ __("Login options") }
      .modal-body(style="display: flex; flex-direction:column;")
        .form-group()
          .row(style="margin-bottom: 25px")
            .col-sm-12
              .input-group
                input.form-control(ng-keyup="loginCtl.handleEnterKeyUp($event)",
                ng-model="loginCtl.searchInput", type="text", placeholder="#{ __('Search') }...")

                .input-group-btn
                  a.btn.btn-default.z-depth-0(ng-click="loginCtl.launchSearch()", id="formSearch")
                    span.item-icon.fa.fa-search
                    span.item-text.hidden-xs #{ __("Search") }

        input(type="hidden", ng-model="loginCtl.idpId", required)
        .row(ng-if="loginCtl.showLocal || loginCtl.showVC")
          .col-xs-12
            .table-responsive
              table.table.table-bordered.table-hover.table-selectable
                thead
                  tr
                    th #{ __("Name") }
                tbody
                  tr(ng-if="loginCtl.showLocal", ng-class="{ active: loginCtl.idpId == 'local' }", ng-click="loginCtl.setIdp(-1)")
                    td #{ __("Local IDP") }
                  tr(ng-if="loginCtl.showVC", ng-class="{ active: loginCtl.idpId == 'vc' }", ng-click="loginCtl.setIdp(-2)")
                    td #{ __("VC Login") }
        .row
          .col-xs-12(ng-if="loginCtl.status === loginCtl.STATUS.RESOLVED")
            .table-responsive(ng-if="loginCtl.idps.length")
              table.table.table-bordered.table-hover.table-selectable
                thead
                  tr
                    th #{ __("Name") }
                    th #{ __("ID") }
                tbody
                  tr(ng-repeat="idp in loginCtl.idps", ng-class="{ active: loginCtl.idpId == '{{ idp.idpId }}' }", ng-click="loginCtl.setIdp($index)")
                    td {{ idp.name }}
                    td {{ idp.idpId }}
            .alert.alert-info.text-center(ng-if="!loginCtl.idps.length") #{ __("No IDPs found.") }
          .col-xs-12(ng-if="loginCtl.status === loginCtl.STATUS.REJECTED")
            .alert.alert-danger.text-center {{ searchVM.errorMessage }}
          .col-xs-12(ng-if="loginCtl.status === loginCtl.STATUS.PENDING")
            .container-spinner
              span.fa.fa-spinner.fa-spin.fa-2x

      .modal-footer
        a.btn.btn-success.z-depth-1(data-dismiss="modal", ng-click="loginCtl.login('#{ contextPath }/login/')", ng-disabled="!loginCtl.isValid()")
          span.item-text #{ __("Sign in") }
        a.btn.btn-default.z-depth-1(data-dismiss="modal")
          span.item-text #{ __("Cancel") }
