.modal.fade(ng-controller="MessageCtrl as ctrl")
  .modal-dialog
    .modal-content
      .modal-header
        .h4
          strong #{ __("Payment in progress") }
      .modal-body
        span
          | #{ __("The payment approval process should have been opened in a new tab. If the a new tab has not been opened,") }  
          a(href="{{ ctrl.paypalUrl }}" target="_blank") #{ __("click here") }
          | #{ __(". Please, remind that you have") } <b>#{ __("5 minutes") }</b> #{ __("to complete the payment. If the payment is not completed") }
          | #{ __("in that time, the ordering will be marked as") } <b>#{ __("Failed") }</b>.
      .modal-footer
        a.btn.btn-success.z-depth-1(data-dismiss="modal")
          span.item-text #{ __("Payment Completed") }