.modal.fade(ng-controller="RSReportCreateCtrl as createVM")
  .modal-dialog
    .modal-content
      .modal-header
        .h4
          strong #{ __("New report") }
      .modal-body
        form(name="createVM.form" novalidate)
          .form-group
            label #{ __("Select a product class") }
          .table-responsive
            table.table.table-bordered.table-hover.table-selectable
              thead
                tr
                  th #{ __("Name") }
              tbody
                tr(ng-repeat="name in createVM.sharingModels" ng-class="{ active: createVM.data.productClass === name }" ng-click="createVM.setProductClass(name)")
                  td {{ name }}
      .modal-footer
        a.btn.btn-success.z-depth-1(data-dismiss="modal" ng-click="createVM.create()")
          span.item-text #{ __("Create") }
        a.btn.btn-default.z-depth-1(data-dismiss="modal")
          span.item-text #{ __("Cancel") }