.modal.fade(ng-controller="ProductUpgradeCtrl as upgradeVM")
  .modal-dialog
    .modal-content
      .modal-header
        .h4
          strong #{ __("Upgrade Product Spec") }
      .modal-body
        div(ng-if="upgradeVM.status == 'LOADED'")
          .row
            .col-sm-4
              form(name="versionForm")
                .form-group(
                  ng-init="upgradeVM.setVersionForm(versionForm)"
                  ng-class="{ 'has-error': versionForm.version.$touched && !versionForm.version.$valid }"
                )
                  label #{ __("New Version") }
                  input.form-control(
                    type="text"
                    name="version"
                    ng-model="upgradeVM.version"
                    ng-pattern="/^\\d+\\.\\d+(\\.\\d+)*$/"
                    ng-disabled="updateVM.isDigital()"
                    required
                  )
                  .help-block(
                    ng-messages="versionForm.version.$error"
                    ng-show="versionForm.version.$touched && !versionForm.version.$valid"
                  )
                    span(ng-message="required") #{ __("This field is required") }
                    span(ng-message="pattern") #{ __("Invalid version format") }

          create-asset-form(controller="upgradeVM")

      .modal-footer
        a.btn.btn-success.z-depth-1(data-dismiss="modal" ng-click="upgradeVM.upgrade()"
            ng-disabled="!upgradeVM.isValid()")

          span.item-text #{ __("Upgrade") }
        a.btn.btn-default.z-depth-1(data-dismiss="modal")
          span.item-text #{ __("Cancel") }