.row
  .col-xs-12
    include ./breadcrumb.jade
  .col-xs-12(ng-switch="detailVM.item.status")
    div(ng-switch-when="LOADED")
      .panel.panel-default
        .panel-heading
          .panel-heading-wrapper
            h3.panel-title #{ __("Order details") }
            .panel-actions
              a.btn.btn-sm.btn-danger(ng-if="detailVM.can('cancel')" bs-tooltip title="Cancel" ng-click="detailVM.cancel()" ng-disabled="detailVM.cancel.status === detailVM.STATUS.PENDING")
                span.fa(ng-class="detailVM.cancel.status === detailVM.STATUS.PENDING ? ['fa-circle-o-notch', 'fa-spin'] : 'fa-close'")
        .panel-body
          .dl-list
            dl
              dt #{ __("Name") }
              dd {{ detailVM.item.externalId ? detailVM.item.externalId : '#{ __("No data provided.") }' }}
              dt #{ __("Customer name") }
              dd {{ detailVM.item.getCustomer().name }}
              dt #{ __("Notification email") }
              dd {{ detailVM.item.notificationContact }}
              dt #{ __("Shipping address") }
              dd
                span.text-preline {{ detailVM.getShippingAddress() }}
            dl
              dt #{ __("Order Date") }
              dd {{ detailVM.item.orderDate ? (detailVM.item.orderDate | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a') : '#{ __("No data provided.") }' }}
              dt #{ __("Priority") }
              dd {{ detailVM.item.priority }}
              dt #{ __("Status") }
              dd {{ detailVM.item.state }}
              dt #{ __("Desired delivery date") }
              dd {{ detailVM.item.requestedCompletionDate ? (detailVM.item.requestedCompletionDate | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a') : '#{ __("No data provided.") }' }}
              dt #{ __("Expected delivery date") }
              dd {{ detailVM.item.expectedCompletionDate ? (detailVM.item.expectedCompletionDate | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a') : '#{ __("No data provided.") }' }}
        ul.nav.nav-pills.nav-justified
          li(ui-sref-active-eq="active")
            a(ui-sref="inventory.productOrder.detail") #{ __("Product") }s
          li(ui-sref-active-eq="active")
            a(ui-sref="inventory.productOrder.detail.note") #{ __("Notes") }
      ui-view
        include ./detail-product.jade
    .alert.alert-danger.text-center(ng-switch-when="ERROR") {{ detailVM.error }}
    .container-spinner(ng-switch-default)
      span.fa.fa-spinner.fa-spin.fa-2x