form(name="stages[3].form", novalidate)
   .row
      .col-sm-12
         label Pricing models
         table.table.table-bordered
            thead
               tr
                  th Name
                  th Type
                  th Unit
                  th Delete
            tbody(ng-show="offeringInfo.productOfferingPrice.length")
               tr(ng-repeat="pricing in offeringInfo.productOfferingPrice")
                  td
                     span {{ pricing.name }}
                  td
                     span {{ pricing.priceType }}
                  td(ng-if="pricing.priceType == 'one time'")
                     span {{ pricing.priceType }}
                  td(ng-if="pricing.priceType == 'recurring'")
                     span {{ pricing.recurringChargePeriod }}
                  td(ng-if="pricing.priceType == 'usage'")
                     span {{ pricing.unitOfMeasure }}
                  td
                     i.fa.fa-close(ng-click="removePricing(pricing)")

   .row
      .col-md-8
         .form-group(
            ng-class="{ 'has-error': stages[3].form.name.$invalid && (stages[3].form.name.$dirty || stages[3].form.name.$touched) }"
         )
            label Name
            input.form-control(
               type="text"
               name="name"
               ng-model="currentPricing.name"
               required
               ng-maxlength="30"
            )
            .help-block(
               ng-messages="stages[3].form.name.$error"
               ng-show="stages[3].form.name.$invalid && (stages[3].form.name.$dirty || stages[3].form.name.$touched)"
            )
               span(ng-message="required") This field is required.
               span(ng-message="maxlength") This field must not exceed 30 chars.

      .col-md-4
         label Type
         select.form-control(ng-model="currentPricing.priceType")
            option(value="one time") One time
            option(value="recurring") Recurring
            option(value="usage") Usage

   .row
      .col-md-12
         .form-group
            label
               | Description
               small.text-muted optional
            textarea.form-control(rows="3", name="description", ng-model="currentPricing.description")

   .row
      .col-md-3
         .form-group(
            ng-class="{ 'has-error': stages[3].form.valueNum.$invalid && (stages[3].form.valueNum.$dirty || stages[3].form.valueNum.$touched) }"
         )
            label Price
            input.form-control(
               type="number"
               name="valueNum"
               ng-model="currentPricing.price.taxIncludedAmount"
               required
            )
            .help-block(
               ng-messages="stages[3].form.valueNum.$error"
               ng-show="stages[3].form.valueNum.$invalid && (stages[3].form.valueNum.$dirty || stages[3].form.valueNum.$touched)"
            )
               span(ng-message="required") This field is required.
               span(ng-message="number") This field must be a number.

      .col-md-3
         label Currency
         select.form-control(ng-model="currentPricing.price.currencyCode")
            option(value="EUR") EUR
            option(value="USD") USD
            option(value="CAD") CAD

      .col-md-6(ng-show="currentPricing.priceType === 'usage'")
         .form-group(
            ng-class="{ 'has-error': stages[3].form.unit.$invalid && (stages[3].form.unit.$dirty || stages[3].form.unit.$touched) }"
         )
            label Unit of measure
            input.form-control(
               type="text"
               name="unit"
               ng-model="currentPricing.unitOfMeasure"
               ng-required="currentPricing.priceType == 'usage'"
               ng-maxlength="30"
            )
            .help-block(
               ng-messages="stages[3].form.unit.$error"
               ng-show="stages[3].form.unit.$invalid && (stages[3].form.unit.$dirty || stages[3].form.unit.$touched)"
            )
               span(ng-message="required") This field is required.
               span(ng-message="maxlength") This field must not exceed 30 chars.

      .col-md-6(ng-show="currentPricing.priceType === 'recurring'")
         label Charge period
         select.form-control(ng-model="currentPricing.recurringChargePeriod")
            option(value="weekly") Weekly
            option(value="monthly") monthly
            option(value="yearly") Yearly

   .form-group.text-left
      a.btn.btn-default(ng-click="savePricing()", ng-disabled="!stages[3].form.$valid")
         span.item-icon.fa.fa-save
         span.item-text Save

   .form-group.text-right
      a.btn.btn-default(ui-sref="app.stock.offering.create.finish")
         span.item-text Next
         span.item-icon.fa.fa-arrow-right