form(name="step.form", novalidate)
  .row
    .col-sm-8
      .form-group(
        ng-class="{ 'has-error' : step.form.name.$invalid && (step.form.name.$dirty || step.form.name.$touched) }"
      )
        label Name
        input.form-control(
          type="text"
          name="name"
          ng-model="productInfo.name"
          required
          ng-minlength="5"
          ng-maxlength="30"
        )
        .help-block(
          ng-messages="step.form.name.$error"
          ng-show="step.form.name.$invalid && (step.form.name.$dirty || step.form.name.$touched)"
        )
          span(ng-message="required") This field is required.
          span(ng-message="minlength") This field must contain at least 5 chars.
          span(ng-message="maxlength") This field must not exceed 30 chars.
    .col-sm-4
      .form-group(
        ng-class="{ 'has-error' : step.form.version.$invalid && (step.form.version.$dirty || step.form.version.$touched) }"
      )
        label Version
        input.form-control(
          type="text"
          name="version"
          ng-model="productInfo.version"
          required
        )
        .help-block(
          ng-messages="step.form.version.$error"
          ng-show="step.form.version.$invalid && (step.form.version.$dirty || step.form.version.$touched)"
        )
          span(ng-message="required") This field is required.
  .row
    .col-sm-8
      .form-group(
        ng-class="{ 'has-error' : step.form.brand.$invalid && (step.form.brand.$dirty || step.form.brand.$touched) }"
      )
        label Brand
        input.form-control(
          type="text"
          name="brand"
          ng-model="productInfo.brand"
          required
          ng-minlength="5"
          ng-maxlength="30"
        )
        .help-block(
          ng-messages="step.form.brand.$error"
          ng-show="step.form.brand.$invalid && (step.form.brand.$dirty || step.form.brand.$touched)"
        )
          span(ng-message="required") This field is required.
          span(ng-message="minlength") This field must contain at least 5 chars.
          span(ng-message="maxlength") This field must not exceed 30 chars.
    .col-sm-4
      .form-group(
        ng-class="{ 'has-error' : step.form.productNumber.$invalid && (step.form.productNumber.$dirty || step.form.productNumber.$touched) }"
      )
        label ID Number
        input.form-control(
          type="text"
          name="productNumber"
          ng-model="productInfo.productNumber"
          required
        )
        .help-block(
          ng-messages="step.form.productNumber.$error"
          ng-show="step.form.productNumber.$invalid && (step.form.productNumber.$dirty || step.form.productNumber.$touched)"
        )
          span(ng-message="required") This field is required.
  .form-group
    label
      | Description 
      small.text-muted optional
    textarea.form-control(rows="3", name="description", ng-model="productInfo.description")
  .form-group.text-right
    button.btn.btn-default(type="button", ng-click="showSearchView()")
      | Cancel
    button.btn.btn-primary(type="button", ng-click="nextStep($index + 1)", ng-disabled="!step.form.$valid")
      span Next
      span.fa.fa-fw.fa-arrow-right