form(name="step.form", novalidate)
  .row
    .col-sm-12
      .form-group(
        ng-class="{ 'has-error': createForm.hasError(step.form.productClass) }"
      )
        label #{ __("Product class") }
        input.form-control(
          type="text"
          name="productClass"
          ng-model="createVM.data.productClass"
          required
          ng-maxlength="200"
        )
        .help-block(
          ng-messages="step.form.productClass.$error"
          ng-show="createForm.hasError(step.form.productClass)"
        )
          span(ng-message="required") #{ __("This field is required.") }
          span(ng-message="maxlength") #{ __("This field must not exceed %s chars.", "200") }

  .row
    .col-sm-6
      .form-group
        label #{ __("Platform percentage") }
        .input-group
          input.form-control(
            type="text"
            ng-model="createVM.platformRevenue"
            disabled
          )
          span.input-group-addon %
    .col-sm-6
      .form-group(
      ng-class="{ 'has-error' : createForm.hasError(step.form.providerValue) }"
      )
        label #{ __("Provider percentage") }
        .input-group
          input.form-control(
          type="number"
          name="providerValue"
          ng-model="createVM.data.ownerValue"
          min="0"
          max="100"
          required
          )
          span.input-group-addon %

        .help-block(
        ng-messages="step.form.providerValue.$error"
        ng-show="createForm.hasError(step.form.providerValue)"
        )
          span(ng-message="required") #{ __("This field is required.") }
          span(ng-message="min") #{ __("This field must not be a negative number.") }
          span(ng-message="max") #{ __("This field must not be higher than 100.") }
          span(ng-message="number") #{ __("This field must be a valid number.") }

  .form-group.text-right
    a.btn.btn-default.z-depth-1(ng-click="createForm.nextStep($index + 1, createVM.stepList[$index + 1])", ng-disabled="!step.form.$valid")
      span.item-text #{ __("Next") }