ui-view
  .row
    .col-xs-12
      include search-toolbar
    .col-xs-12
      div(ng-if="searchVM.list.status == searchVM.STATUS.LOADED", ng-switch="searchVM.list.length")
        div(ng-switch-when="0")
          .alert.alert-info.text-center #{ __("No revenue sharing models found.") }
        div(ng-switch-default)
          .table-responsive
            table.table.table-bordered.table-hover.table-selectable
              thead
                tr
                  th #{ __("Product Class") }
                  th #{ __("Platform Percentage") }
                  th #{ __("Provider Percentage") }
                  th Nº #{ __("Stakeholders") }
              tbody
                tr(ng-repeat="rsModel in searchVM.list",
                  ui-sref="rss.models.update({ productClass: rsModel.productClass })",
                  ui-sref-opts="{ inherit: false }"
                )
                  td
                    span {{ rsModel.productClass }}
                  td
                    span {{ rsModel.aggregatorShare }}
                  td
                    span {{ rsModel.providerShare }}
                  td
                    span {{ rsModel.stakeholders.length }}

      div(ng-if="searchVM.list.status == searchVM.STATUS.ERROR")
        .alert.alert-danger.text-center {{ searchVM.error }}
      div(ng-if="searchVM.list.status == searchVM.STATUS.LOADING")
        .container-spinner
          span.fa.fa-spinner.fa-spin.fa-2x
      .col-xs-12
        pager(controller="searchVM", size="15", max="12")
