.row
  .col-xs-12(ng-controller="FormWizardCtrl as updateForm")
    .panel.panel-default.z-depth-1
      .panel-body
        .h4.text-dark-secondary
          strong Account
        hr
        form(name="updateVM.accountForm", novalidate)
          .row
            .col-sm-6
              .form-group(ng-class="{ 'has-error': updateForm.hasError(updateVM.accountForm.userName) }")
                label Username
                input.form-control(
                  type="text"
                  name="userName"
                  ng-model="updateVM.item.getUser().id"
                  required
                  readonly
                )
            .col-sm-6
              .form-group(ng-class="{ 'has-error': updateForm.hasError(updateVM.accountForm.accessToken) }")
                label Access token
                input.form-control(
                  type="text"
                  name="accessToken"
                  ng-model="updateVM.item.getUser().bearerToken"
                  required
                  readonly
                )
          .row
            .col-sm-6
              .form-group(ng-class="{ 'has-error': updateForm.hasError(updateVM.accountForm.email) }")
                label Email
                input.form-control(
                  type="email"
                  name="email"
                  ng-model="updateVM.item.getUser().email"
                  required
                  readonly
                )
    .panel.panel-default.z-depth-1
      .panel-body
        form(name="updateVM.profileForm", novalidate)
          .h4.text-dark-secondary
            strong Profile
          hr
          .alert.alert-info This information may be viewed by anyone.
          .row
            .col-sm-6
              .form-group(ng-class="{ 'has-error': updateForm.hasError(updateVM.profileForm.firstName) }")
                label First name
                input.form-control(
                  type="text"
                  name="firstName"
                  ng-model="updateVM.data.givenName"
                  required
                  ng-maxlength="30"
                )
                .help-block(
                  ng-messages="updateVM.profileForm.firstName.$error"
                  ng-show="updateForm.hasError(updateVM.profileForm.firstName)"
                )
                  span(ng-message="maxlength") This field must not exceed 30 chars.
            .col-sm-6
              .form-group(
                ng-class="{ 'has-error': updateForm.hasError(updateVM.profileForm.lastName) }"
              )
                label Last name
                input.form-control(
                  type="text"
                  name="lastName"
                  ng-model="updateVM.data.familyName"
                  required
                  ng-maxlength="30"
                )
                .help-block(
                  ng-messages="updateVM.profileForm.lastName.$error"
                  ng-show="updateForm.hasError(updateVM.profileForm.lastName)"
                )
                  span(ng-message="maxlength") This field must not exceed 30 chars.
          .row
            .col-sm-6
              .form-group(ng-class="{ 'has-error': updateForm.hasError(updateVM.profileForm.title) }")
                label Title
                select.form-control(
                  name="title"
                  ng-model="updateVM.data.title"
                )
                  option(value="") Prefer not to say
                  option(ng-repeat="title in ['Miss', 'Mrs', 'Mr', 'Ms']", value="{{ title }}") {{ title }}
            .col-sm-6
              .form-group(ng-class="{ 'has-error': updateForm.hasError(updateVM.profileForm.maritalStatus) }")
                label Marital status
                select.form-control(
                  name="maritalStatus"
                  ng-model="updateVM.data.maritalStatus"
                )
                  option(value="") Prefer not to say
                  option(ng-repeat="status in ['Divorced', 'Married', 'Separated', 'Single', 'Widowed']", value="{{ status }}") {{ status }}
          .row
            .col-sm-6
              .form-group(ng-class="{ 'has-error': updateForm.hasError(updateVM.profileForm.gender) }")
                label Gender
                select.form-control(
                  name="gender"
                  ng-model="updateVM.data.gender"
                )
                  option(value="") Prefer not to say
                  option(ng-repeat="gender in ['Female', 'Male']", value="{{ gender }}") {{ gender }}
            .col-sm-6
              .form-group(ng-class="{ 'has-error': updateForm.hasError(updateVM.profileForm.nationality) }")
                label Nationality
                input.form-control(
                  type="text"
                  name="nationality"
                  ng-model="updateVM.data.nationality"
                )
          .h4.text-dark-secondary
            strong Birth
          hr
          .row
            .col-sm-6
              .form-group(ng-class="{ 'has-error': updateForm.hasError(updateVM.profileForm.birthDate) }")
                label Date
                input.form-control(
                  type="date"
                  name="birthDate"
                  ng-model="updateVM.data.birthDate"
                )
          .row
            .col-sm-6
              .form-group(ng-class="{ 'has-error': updateForm.hasError(updateVM.profileForm.countryOfBirth) }")
                label Country
                select.form-control(
                  name="countryOfBirth"
                  ng-model="updateVM.data.countryOfBirth"
                )
                  option(value="") Prefer not to say
                  option(ng-repeat="country in COUNTRIES", value="{{ country.code }}") {{ country.name }}
            .col-sm-6
              .form-group(ng-class="{ 'has-error': updateForm.hasError(updateVM.profileForm.placeOfBirth) }")
                label Place
                input.form-control(
                  type="text"
                  name="placeOfBirth"
                  ng-model="updateVM.data.placeOfBirth"
                  ng-maxlength="30"
                )
                .help-block(
                  ng-messages="updateVM.profileForm.placeOfBirth.$error"
                  ng-show="updateForm.hasError(updateVM.profileForm.placeOfBirth)"
                )
                  span(ng-message="maxlength") This field must not exceed 30 chars.
          .form-group.text-right
            a.btn.btn-success.z-depth-1(ng-click="updateVM.update()", ng-disabled="!updateVM.profileForm.$valid")
              span.item-text Save changes