.panel.panel-default.z-depth-1
  .panel-body
    .h4.text-dark-secondary
      strong Profile
    hr
    form(name="updateVM.form", novalidate)
      .alert.alert-info This information is public so it may be viewed by anyone.
      .row
        .col-sm-6
          .form-group(ng-class="{ 'has-error': updateVM.hasFieldError(updateVM.form.firstName) }")
            label First name
            input.form-control(
              type="text"
              name="firstName"
              ng-model="updateVM.data.givenName"
              required
              ng-maxlength="30"
            )
            .help-block(
              ng-messages="updateVM.form.firstName.$error"
              ng-show="updateVM.hasFieldError(updateVM.form.firstName)"
            )
              span(ng-message="required") This field is required.
              span(ng-message="maxlength") This field must not exceed 30 chars.
        .col-sm-6
          .form-group(
            ng-class="{ 'has-error': updateVM.hasFieldError(updateVM.form.lastName) }"
          )
            label Last name
            input.form-control(
              type="text"
              name="lastName"
              ng-model="updateVM.data.familyName"
              required
              ng-maxlength="30"
            )
            .help-block(
              ng-messages="updateVM.form.lastName.$error"
              ng-show="updateVM.hasFieldError(updateVM.form.lastName)"
            )
              span(ng-message="required") This field is required.
              span(ng-message="maxlength") This field must not exceed 30 chars.
      .row
        .col-sm-6
          .form-group(ng-class="{ 'has-error': updateVM.hasFieldError(updateVM.form.title) }")
            label Title
            select.form-control(
              name="title"
              ng-model="updateVM.data.title"
            )
              option(value="") Prefer not to say
              option(ng-repeat="title in ['Miss', 'Mrs', 'Mr', 'Ms']", value="{{ title }}") {{ title }}
        .col-sm-6
          .form-group(ng-class="{ 'has-error': updateVM.hasFieldError(updateVM.form.maritalStatus) }")
            label Marital status
            select.form-control(
              name="maritalStatus"
              ng-model="updateVM.data.maritalStatus"
            )
              option(value="") Prefer not to say
              option(ng-repeat="status in ['Divorced', 'Married', 'Separated', 'Single', 'Widowed']", value="{{ status }}") {{ status }}
      .row
        .col-sm-6
          .form-group(ng-class="{ 'has-error': updateVM.hasFieldError(updateVM.form.gender) }")
            label Gender
            select.form-control(
              name="gender"
              ng-model="updateVM.data.gender"
            )
              option(value="") Prefer not to say
              option(ng-repeat="gender in ['Female', 'Male']", value="{{ gender }}") {{ gender }}
        .col-sm-6
          .form-group(ng-class="{ 'has-error': updateVM.hasFieldError(updateVM.form.nationality) }")
            label Nationality
            input.form-control(
              type="text"
              name="nationality"
              ng-model="updateVM.data.nationality"
            )
      .h4.text-dark-secondary
        strong Birth
      hr
      .row
        .col-sm-6
          .form-group(ng-class="{ 'has-error': updateVM.hasFieldError(updateVM.form.birthDate) }")
            label Date
            input.form-control(
              type="date"
              name="birthDate"
              ng-model="updateVM.data.birthDate"
              convert-to-date
            )
            .help-block(
              ng-messages="updateVM.form.birthDate.$error"
              ng-show="updateVM.hasFieldError(updateVM.form.birthDate)"
            )
              span(ng-message="date") This field must be a valid date.
      .row
        .col-sm-6
          .form-group(ng-class="{ 'has-error': updateVM.hasFieldError(updateVM.form.countryOfBirth) }")
            label Country
            select.form-control(
              name="countryOfBirth"
              ng-model="updateVM.data.countryOfBirth"
            )
              option(value="") Prefer not to say
              option(ng-repeat="country in vm.COUNTRIES", value="{{ country.code }}") {{ country.name }}
        .col-sm-6
          .form-group(ng-class="{ 'has-error': updateVM.hasFieldError(updateVM.form.placeOfBirth) }")
            label Place
            input.form-control(
              type="text"
              name="placeOfBirth"
              ng-model="updateVM.data.placeOfBirth"
              ng-maxlength="30"
            )
            .help-block(
              ng-messages="updateVM.form.placeOfBirth.$error"
              ng-show="updateVM.hasFieldError(updateVM.form.placeOfBirth)"
            )
              span(ng-message="maxlength") This field must not exceed 30 chars.
      .form-group.text-right
        a.btn.btn-success.z-depth-1(ng-click="updateVM.update()", ng-disabled="!updateVM.form.$valid")
          span.item-text Update