.row(ng-switch="updateVM.status")
  .col-xs-12(ng-switch-when="ERROR")
    .alert.alert-danger {{ updateVM.errorMessage }}
  .col-xs-12(ng-switch-when="LOADING")
    .container-spinner
      span.fa.fa-spinner.fa-spin.fa-2x
  .col-xs-12(ng-switch-when="LOADED")
    .panel.panel-default.z-depth-1
      .panel-body
        .h4.text-dark-secondary
          strong Account
        hr
        .row
          .col-sm-6
            .form-group
              label Username
              input.form-control(
                type="text"
                name="userName"
                ng-model="updateVM.loggedUser.id"
                readonly
              )
          .col-sm-6
            .form-group
              label Access token
              input.form-control(
                type="text"
                name="accessToken"
                ng-model="updateVM.loggedUser.bearerToken"
                readonly
              )
        .row
          .col-sm-6
            .form-group
              label Email
              input.form-control(
                type="email"
                name="email"
                ng-model="updateVM.loggedUser.email"
                readonly
              )
    .a(ng-if="!updateVM.isOrganization()")
      include ./update-profile.jade
    .a(ng-if="updateVM.isOrganization()")
      include ./update-profile-org.jade