doctype html
html(ng-app="app")
  head
    title Biz Ecosystem

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    each cssFilePath in cssFilesToInject
      link(rel="stylesheet", href="#{ contextPath }/#{ cssFilePath }")

    each jsFilePath in jsDepFilesToInject
      script(src="#{ contextPath }/#{ jsFilePath }")

    each jsFilePath in jsAppFilesToInject
      script(src="#{ contextPath }/#{ jsFilePath }")

    script.
      angular.module('app')
        .constant('URLS', {
          IMAGE: '#{ contextPath }/resources/core/images',
          USER: '#{ proxyPath }/#{ chargingPath }/api/userManagement/users/:username',
          ASSET_MANAGEMENT: '#{ proxyPath }/#{ chargingPath }/api/assetManagement',
          SLA_SET: '#{ proxyPath }/SLAManagement/sla',
          SLA_GET: '#{ proxyPath }/SLAManagement/sla/:id',
          REPUTATION_SET: '#{ proxyPath }/REPManagement/reputation/set',
          REPUTATION_GET: '#{ proxyPath }/REPManagement/reputation/:id/:consumerId',
          REPUTATION_GET_ALL: '#{ proxyPath }/REPManagement/reputation',
          TOKEN_SET: '#{ proxyPath }/#{ chargingPath }/api/token',
          TOKEN_GET: '#{ proxyPath }/authorizeService/read',
          RENEW_JOB: '#{ proxyPath }/#{ chargingPath }/api/orderManagement/products/renewJob',
          UNSUBSCRIBE_JOB: '#{ proxyPath }/#{ chargingPath }/api/orderManagement/products/unsubscribeJob',
          CATALOGUE_MANAGEMENT: '#{ proxyPath }/#{ catalogPath }/api/catalogManagement/v2',
          PRODUCTORDER_MANAGEMENT: '#{ proxyPath }/#{ orderingPath }/api/productOrdering/v2',
          INVENTORY: '#{ proxyPath }/#{ inventoryPath }/api/productInventory/v2',
          PARTY_MANAGEMENT: '#{ proxyPath }/#{ partyPath }/api/partyManagement/v2',
          BILLING_MANAGEMENT: '#{ proxyPath }/#{ billingPath }/api/billingManagement/v2',
          CUSTOMER_MANAGEMENT: '#{ proxyPath }/#{ customerPath }/api/customerManagement/v2',
          PAYMENT: '#{ proxyPath }/#{ chargingPath }/api/orderManagement/orders/:action',
          SHARING_MODELS: '#{ proxyPath }/#{ rssPath }/rss/models',
          SHARING_PROVIDERS: '#{ proxyPath }/#{ rssPath }/rss/providers',
          SHARING_TRANSACTIONS: '#{ proxyPath }/#{ rssPath }/rss/cdrs',
          SHARING_CLASSES: '#{ proxyPath }/#{ rssPath }/rss/cdrs/classes',
          SHARING_SETTLEMENT: '#{ proxyPath }/#{ rssPath }/rss/settlement',
          SHARING_REPORTS: '#{ proxyPath }/#{ rssPath }/rss/settlement/reports',
          SHOPPING_CART: '#{ shoppingCartPath }/:action/:id',
          IDPS: '#{ proxyPath }/IDP',
          IDP: '#{ proxyPath }/IDP/:idpId'
        })
        .constant('CHARGE_PERIODS', '#{ chargePeriods }'.split(',').map(function (value) {
          var cp = value.split(':');
          return {
            title: cp[0],
            value: parseInt(cp[1]),
          };
        }))
        .constant('CURRENCY_CODES', '#{ currencyCodes }'.split(',').map(function (value) {
          var cc = value.split(':');
          return {
            title: cc[1],
            value: cc[0],
          };
        }))
        .constant('TAX_RATE', #{ taxRate })
        .constant('PLATFORM_REVENUE', #{ platformRevenue })
        .constant('SHOW_LOCAL_LOGIN', #{ showLocal })
        .constant('SHOW_VC_LOGIN', #{ showVC })
        .constant('ALLOW_EDIT_PARTY', #{ editParty })
        .constant('USAGE_CHART_URL', '#{ usageChartURL }')
        .constant('ROLES', { seller: '#{ seller }', customer: '#{ customer }', orgAdmin: '#{ orgAdmin }', admin: '#{ admin }'})
        .run(function($rootScope, $state, $injector) {

          $rootScope.$on('$stateChangeStart', function (e, toState, toParams) {

            var loggingRequired = toState.data.loggingRequired;

            if (loggingRequired && !$injector.has('LOGGED_USER')) {
              e.preventDefault();
              var cameFrom = encodeURIComponent('/' + $state.href(toState.name, toParams));
              $state.go('unauthorized', {'came_from': cameFrom });
            }
          });

        });

    if user
      script.
        angular.module('app')
          .constant('LOGGED_USER', {
            id: '#{ user.id }',
            name: '#{ user.username }',
            href: '#{ contextPath }/#{ partyPath }/api/partyManagement/v2/individual/#{ user.id }',
            email: '#{ user.email }',
            bearerToken: '#{ user.accessToken }',
            organizations: '#{ '{ "organizations":' + JSON.stringify(user.organizations) + '}' }',
            currentUser: {
              id: '#{ user.id }',
              name: '#{ user.username }',
              email: '#{ user.email }',
              roles: '#{ JSON.stringify(user.roles) }',
              href: '#{ contextPath }/#{ partyPath }/api/partyManagement/v2/individual/#{ user.id }'
            }
          })
          .run(function ($http, LOGGED_USER) {
            $http.defaults.headers.common.Authorization = 'Bearer ' + LOGGED_USER.bearerToken;
          })
          .run(function (LOGGED_USER) {
            // Load initial objects
            var organizations = JSON.parse(LOGGED_USER.organizations.replace(/&quot;/g, '"'));
            var roles = JSON.parse(LOGGED_USER.currentUser.roles.replace(/&quot;/g, '"'));
            LOGGED_USER.organizations = organizations.organizations;
            LOGGED_USER.currentUser.roles = roles;
            LOGGED_USER.roles = roles;
          });

    block scripts
  body(ng-controller="UserCtrl as user")
    .navbar.navbar-default.navbar-fixed-top.z-depth-2
      .container
        .navbar-header
          a.navbar-toggle(data-toggle="dropdown")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .dropdown-menu.z-depth-3
            a.dropdown-menu-item(ui-sref="offering", ui-sref-opts="{ reload: true, inherit: false }")
              span.item-icon.fa.fa-home
              span.item-text #{ __("Home") }
            if user
              a.dropdown-menu-item(ui-sref="inventory", ui-sref-opts="{ reload: true, inherit: false }")
                span.item-icon.fa.fa-archive
                span.item-text #{ __("My inventory") }
              a.dropdown-menu-item(ui-sref="stock", ui-sref-opts="{ reload: true, inherit: false }", ng-show="user.isSeller()")
                span.item-icon.fa.fa-database
                span.item-text #{ __("My stock") }
              a.dropdown-menu-item(ui-sref="rss", ui-sref-opts="{ reload: true, inherit: false }", ng-show="user.isSeller()")
                span.item-icon.fa.fa-share-alt
                span.item-text #{ __("Revenue sharing") }
          a.navbar-brand.hidden-xs(href="#{ contextPath }")
            img(src="#{ contextPath }/resources/core/images/fiware-tmforum-logo.png")
        .navbar-text {{ title }}

        if user
          ul.nav.navbar-nav.navbar-right
            block navbars
            li.dropdown
              a.dropdown-toggle.has-stack(data-toggle="dropdown")
                span.fa-stack
                  i.fa.fa-circle-thin.fa-stack-2x
                  i.fa.fa-users.fa-stack-1x(ng-hide="user.loggedAsIndividual()")
                  i.fa.fa-user.fa-stack-1x(ng-show="user.loggedAsIndividual()")
                span.hidden-xs {{ user.currentUser.name }}
              .dropdown-menu.z-depth-3
                .dropdown-avatar.z-depth-1
                  span.fa-stack.fa-3x
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-user.fa-stack-1x(ng-show="user.loggedAsIndividual()")
                    i.fa.fa-users.fa-stack-1x(ng-hide="user.loggedAsIndividual()")
                  .title.h4 {{ user.currentUser.name }}
                  .subtitle {{ user.currentUser.email }}
                a.dropdown-menu-item(ng-if="user.hasOrgs()", ng-mouseenter="user.orgsVisible()", ng-mouseleave="user.orgsInvisible()")
                  span.item-icon.fa.fa-angle-double-left
                  span.item-text #{ __("Switch Session") }
                .dropdown(ng-show="user.showOrgs", ng-mouseenter="user.orgsVisible()", ng-mouseleave="user.orgsInvisible()")
                  .dropdown-menu.z-depth-3.org-menu
                    a.dropdown-menu-item(ng-if="!user.loggedAsIndividual()", ng-click="user.switchToUser()")
                      span.item-icon.fa.fa-user
                      span.item-text {{ user.name }}
                    each organization in user.organizations
                      a.dropdown-menu-item(ng-click="user.switchSession(" + "'#{ organization.id }'" + ")", ng-if="user.showOrgList(" + "'#{ organization.id }'" + ")")
                        span.item-icon.fa.fa-users
                        span.item-text #{ organization.name }
                        
                a.dropdown-menu-item(ng-if="user.isAdmin()", ui-sref="admin", ui-sref-opts="{ reload: true, inherit: false }")
                  span.item-icon.fa.fa-dashboard
                  span.item-text #{ __("Administration") }
                a.dropdown-menu-item(ui-sref="settings", ui-sref-opts="{ reload: true, inherit: false }", ng-if="user.hasAdminRole()")
                  span.item-icon.fa.fa-cog
                  span.item-text #{ __("Settings") }
                a.dropdown-menu-item(ng-click="user.signOut()")
                  span.item-icon.fa.fa-sign-out
                  span.item-text #{ __("Sign out") }
          form(name="signOutForm", method="post", action="#{ contextPath }/logout")
        else
          if extLogin || showVC
            a.btn.btn-warning.navbar-btn.navbar-right.z-depth-1(ng-click="user.signIn()")
              span.item-text #{ __("Sign in") }
          else
            a.btn.btn-warning.navbar-btn.navbar-right.z-depth-1(href="#{ contextPath }/login")
              span.item-text #{ __("Sign in") }
    .row
    .container(ng-controller="FlashMessageListCtrl as listVM")
      .alert-group(ng-show="listVM.list.length")
        .alert-item(ng-repeat="alert in listVM.list")
          .alert.z-depth-2(class="alert-{{ alert.state }}")
            a.close(ng-click="listVM.hideAlert($index)")
              i.fa.fa-fw.fa-remove
            span.alert-message(ng-bind-html="alert.message")

    block content

    .bottom-div
      .col-sm-1(id="language", ng-controller="LangCtrl as langVM")
        select(ng-model="langVM.locale" ng-change="langVM.onLocaleChange()")
          option(value="en" selected) English
          option(value="es") Español
          option(value="de") German
    hr.fiware-line
    footer.footer-main.d-flex.justify-content-between
      include ./contributors.jade
      .copyright
        © 2015-2019 CoNWeT Lab., Universidad Politécnica de Madrid
      .footer-logo
        ul.list-inline.pull-right
          li.small
            a(href="https://www.fiware.org") FIWARE
          li.small ·
          li.small
            a(href="https://www.tmforum.org") TM FORUM

    if user
      include ./modals/user-profile.modal.jade
      include ./modals/purchase-options.modal.jade
      include ./modals/redirection-msg.modal.jade
      include ./modals/business-address.modal.jade
      include ./modals/shipping-address.modal.jade
      include ./modals/priceplan.modal.jade
      include ./modals/sharing-report.modal.jade
      include ./modals/upgrade-product.modal.jade

    include ./modals/login.modal.jade

    script(type="text/ng-template", id="settings/sidebar")
      include ./partials/settings/sidebar.jade
    script(type="text/ng-template", id="settings/general/update")
      include ./partials/settings/general/update.jade
    script(type="text/ng-template", id="settings/contact/update")
      include ./partials/settings/contact/update.jade
    script(type="text/ng-template", id="settings/contact/shipping/update")
      include ./partials/settings/contact/update-shipping-address.jade
    script(type="text/ng-template", id="settings/contact/business/update")
      include ./partials/settings/contact/update-business-address.jade

    script(type="text/ng-template", id="directives/pager")
      include ./partials/directives/pager.jade

    script(type="text/ng-template", id="offering/sidebar")
      include ./partials/offering/sidebar.jade
    script(type="text/ng-template", id="offering/search")
      include ./partials/offering/search.jade
    script(type="text/ng-template", id="offering/detail")
      include ./partials/offering/detail.jade
    script(type="text/ng-template", id="offering/detail/product")
      include ./partials/offering/detail-product.jade
    script(type="text/ng-template", id="offering/detail/product-attachment")
      include ./partials/offering/detail-product-attachment.jade
    script(type="text/ng-template", id="offering/detail/bundled")
      include ./partials/offering/detail-bundled.jade
    script(type="text/ng-template", id="offering/detail/pricing")
      include ./partials/offering/detail-pricing.jade
    script(type="text/ng-template", id="offering/detail/licenseSla")
      include ./partials/offering/detail-license-sla.jade
    script(type="text/ng-template", id="offering/detail/relationship")
      include ./partials/offering/detail-relationship.jade

    script(type="text/ng-template", id="stock/sidebar")
      include ./partials/stock/sidebar.jade

    script(type="text/ng-template", id="stock/product/search")
      include ./partials/stock/product/search.jade
    script(type="text/ng-template", id="stock/product/create")
      include ./partials/stock/product/create.jade
    script(type="text/ng-template", id="stock/product/create/general")
      include ./partials/stock/product/create-form.jade
    script(type="text/ng-template", id="stock/product/create/bundle")
      include ./partials/stock/product/create-form-bundle.jade
    script(type="text/ng-template", id="stock/product/create/characteristics")
      include ./partials/stock/product/create-form-characteristics.jade
    script(type="text/ng-template", id="stock/product/create/attachments")
      include ./partials/stock/product/create-form-attachments.jade
    script(type="text/ng-template", id="stock/product/create/assets")
      include ./partials/stock/product/create-form-assets.jade
    script(type="text/ng-template", id="stock/product/create/relationships")
      include ./partials/stock/product/create-relationship.jade
    script(type="text/ng-template", id="stock/product/create/terms")
      include ./partials/stock/product/create-form-terms.jade
    script(type="text/ng-template", id="stock/product/create/finish")
      include ./partials/stock/product/create-form-finish.jade

    script(type="text/ng-template", id="stock/product/import")
      include ./partials/stock/product/import.jade
    script(type="text/ng-template", id="stock/product/import/general")
      include ./partials/stock/product/import-form.jade
    script(type="text/ng-template", id="stock/product/import/datastore")
      include ./partials/stock/product/import-datastore.jade
    script(type="text/ng-template", id="stock/product/import/finish")
      include ./partials/stock/product/import-finish.jade

    script(type="text/ng-template", id="stock/product/update")
      include ./partials/stock/product/update.jade
    script(type="text/ng-template", id="stock/product/update/bundled")
      include partials/stock/product/update-bundled-product
    script(type="text/ng-template", id="stock/product/update/characteristic")
      include ./partials/stock/product/update-form-characteristic.jade
    script(type="text/ng-template", id="stock/product/update/attachment")
      include ./partials/stock/product/update-form-attachment.jade
    script(type="text/ng-template", id="stock/product/update/relationship")
      include ./partials/stock/product/update-relationship.jade

    script(type="text/ng-template", id="directives/forms/create-asset")
      include ./partials/stock/product/directives/create-asset-form.jade

    script(type="text/ng-template", id="stock/product-offering/search")
      include ./partials/stock/product-offering/search.jade
    script(type="text/ng-template", id="stock/product-offering/create")
      include ./partials/stock/product-offering/create.jade
    script(type="text/ng-template", id="stock/product-offering/create/general")
      include ./partials/stock/product-offering/create-form.jade
    script(type="text/ng-template", id="stock/product-offering/create/terms")
      include ./partials/stock/product-offering/create-form-terms.jade
    script(type="text/ng-template", id="stock/product-offering/create/sla")
      include ./partials/stock/product-offering/create-form-sla2.jade
    script(type="text/ng-template", id="stock/product-offering/create/bundle")
      include ./partials/stock/product-offering/create-form-bundle.jade
    script(type="text/ng-template", id="stock/product-offering/create/priceplan")
      include ./partials/stock/product-offering/create-form-priceplan.jade
    script(type="text/ng-template", id="stock/product-offering/create/product-bundle")
      include ./partials/stock/product-offering/create-form-product-bundle.jade
    script(type="text/ng-template", id="stock/product-offering/create/product")
      include ./partials/stock/product-offering/create-form-product.jade
    script(type="text/ng-template", id="stock/product-offering/create/catalogue")
      include ./partials/stock/product-offering/create-form-catalogue.jade
    script(type="text/ng-template", id="stock/product-offering/create/categories")
      include ./partials/stock/product-offering/create-form-categories.jade
    script(type="text/ng-template", id="stock/product-offering/create/finish")
      include ./partials/stock/product-offering/create-form-finish.jade
    script(type="text/ng-template", id="stock/product-offering/create/sharing")
      include ./partials/stock/product-offering/create-form-sharing-model.jade
    script(type="text/ng-template", id="stock/product-offering/update")
      include ./partials/stock/product-offering/update.jade
    script(type="text/ng-template", id="stock/product-offering/update/bundled")
      include partials/stock/product-offering/update-bundled-offerings
    script(type="text/ng-template", id="stock/product-offering/update/priceplan")
      include ./partials/stock/product-offering/update-priceplan.jade
    script(type="text/ng-template", id="stock/product-offering/update/category")
      include ./partials/stock/product-offering/update-category.jade

    script(type="text/ng-template", id="directives/offering-priceplan")
      include ./partials/stock/product-offering/directives/priceplan.jade
    script(type="text/ng-template", id="directives/offering-sla")
      include ./partials/stock/product-offering/directives/sla.jade  

    script(type="text/ng-template", id="directives/forms/priceplan")
      include ./partials/stock/product-offering/directives/priceplan-form.jade
    script(type="text/ng-template", id="directives/forms/sla")
      include ./partials/stock/product-offering/directives/sla-form.jade
    script(type="text/ng-template", id="directives/forms/business-address")
      include ./partials/settings/contact/directives/business-address-form.jade
    script(type="text/ng-template", id="directives/forms/shipping-address")
      include ./partials/settings/contact/directives/shipping-address-form.jade
    script(type="text/ng-template", id="directives/forms/relationship-create")
      include ./partials/stock/product/directives/relationship-create-form.jade
    script(type="text/ng-template", id="directives/forms/relationship-delete")
      include ./partials/stock/product/directives/relationship-delete-form.jade

    script(type="text/ng-template", id="directives/tables/priceplan")
      include ./partials/stock/product-offering/directives/priceplan-table.jade
    script(type="text/ng-template", id="directives/tables/sla")
      include ./partials/stock/product-offering/directives/sla-table.jade

    script(type="text/ng-template", id="stock/product-catalogue/search")
      include ./partials/stock/product-catalogue/search.jade
    script(type="text/ng-template", id="stock/product-catalogue/create")
      include ./partials/stock/product-catalogue/create.jade
    script(type="text/ng-template", id="stock/product-catalogue/create/general")
      include ./partials/stock/product-catalogue/create-form.jade
    script(type="text/ng-template", id="stock/product-catalogue/create/finish")
      include ./partials/stock/product-catalogue/create-form-finish.jade
    script(type="text/ng-template", id="stock/product-catalogue/update")
      include ./partials/stock/product-catalogue/update.jade
    script(type="text/ng-template", id="stock/product-catalogue/update/party")
      include ./partials/stock/product-catalogue/update-party.jade
    script(type="text/ng-template", id="stock/product-catalogue/update/offering")
      include ./partials/stock/product-catalogue/update-offering.jade

    script(type="text/ng-template", id="rss/sidebar")
      include ./partials/rss/sidebar.jade

    script(type="text/ng-template", id="rss/sharing-models/search")
      include partials/rss/sharing-models/search.jade
    script(type="text/ng-template", id="rss/sharing-models/create")
      include partials/rss/sharing-models/create.jade
    script(type="text/ng-template", id="rss/sharing-models/create/general")
      include partials/rss/sharing-models/create-form.jade
    script(type="text/ng-template", id="rss/sharing-models/create/stakeholders")
      include partials/rss/sharing-models/create-form-stakeholders.jade
    script(type="text/ng-template", id="rss/sharing-models/create/finish")
      include partials/rss/sharing-models/create-form-finish.jade
    script(type="text/ng-template", id="rss/sharing-models/update")
      include partials/rss/sharing-models/update.jade

    script(type="text/ng-template", id="rss/transactions/search")
      include partials/rss/transactions/search.jade
    script(type="text/ng-template", id="rss/reports/search")
      include partials/rss/reports/search.jade

    script(type="text/ng-template", id="inventory/sidebar")
      include ./partials/inventory/sidebar.jade
    script(type="text/ng-template", id="inventory/product-order/search")
      include ./partials/inventory/product-order/search.jade
    script(type="text/ng-template", id="inventory/product-order/detail")
      include ./partials/inventory/product-order/detail.jade
    script(type="text/ng-template", id="inventory/product-order/detail-note")
      include ./partials/inventory/product-order/detail-note.jade
    script(type="text/ng-template", id="inventory/product/search")
      include partials/inventory/product/search
    script(type="text/ng-template", id="inventory/product/detail")
      include partials/inventory/product/detail
    script(type="text/ng-template", id="inventory/product/detail/characteristic")
      include ./partials/inventory/product/detail-content-characteristic.jade
    script(type="text/ng-template", id="inventory/product/detail/access")
      include ./partials/inventory/product/access.jade
    script(type="text/ng-template", id="inventory/product/detail/priceplan")
      include ./partials/inventory/product/detail-content-priceplan.jade
    script(type="text/ng-template", id="inventory/product/detail/usage")
      include ./partials/inventory/product/detail-content-usage.jade
    script(type="text/ng-template", id="inventory/product/detail/charges")
      include ./partials/inventory/product/detail-content-charges.jade

    script(type="text/ng-template", id="shopping-cart/list")
      include partials/shopping-cart/create

    script(type="text/ng-template", id="admin/sidebar")
      include ./partials/admin/sidebar.jade
    script(type="text/ng-template", id="admin/product-category/search")
      include ./partials/admin/product-category/search.jade
    script(type="text/ng-template", id="admin/product-category/create")
      include ./partials/admin/product-category/create.jade
    script(type="text/ng-template", id="admin/product-category/create/general")
      include ./partials/admin/product-category/create-form.jade
    script(type="text/ng-template", id="admin/product-category/create/finish")
      include ./partials/admin/product-category/create-form-finish.jade
    script(type="text/ng-template", id="admin/product-category/update")
      include ./partials/admin/product-category/update.jade

    script(type="text/ng-template", id="admin/idps/search")
      include ./partials/admin/idps/search.jade
    script(type="text/ng-template", id="admin/idps/create")
      include ./partials/admin/idps/create.jade
    script(type="text/ng-template", id="admin/idps/create/general")
      include ./partials/admin/idps/create-form.jade
    script(type="text/ng-template", id="admin/idps/create/finish")
      include ./partials/admin/idps/create-form-finish.jade
    script(type="text/ng-template", id="admin/idps/update")
      include ./partials/admin/idps/update.jade

    script(type="text/ng-template", id="unauthorized")
      include partials/unauthorized
