doctype html
html(lang="en")
  head
    title TM Forum Portal
      block title

    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1")

    each cssFilePath in cssFilesToInject
      link(rel="stylesheet", href="#{ contextPath }/#{ cssFilePath }")

    each jsFilePath in jsDepFilesToInject
      script(src="#{ contextPath }/#{ jsFilePath }")

    script.
      angular.module('app', ['ngRoute', 'ngResource', 'ngMessages', 'angularMoment', 'app.services', 'app.controllers'])
        .constant('URLS', {
          IMAGE: '#{ contextPath }/resources/core/images',
          TEMPLATE: '#{ contextPath }/resources/core/templates',
          USER: '#{ proxyPath }/charging/api/userManagement/users/:username',
          ASSET_MANAGEMENT: '#{ proxyPath }/charging/api/assetManagement',
          CATALOGUE_MANAGEMENT: '#{ proxyPath }/DSProductCatalog/api/catalogManagement/v2'
        });

    if user
      script.
        angular.module('app')
          .constant('LOGGED_USER', {
            ID: '#{ user.id }',
            ROLE: '#{ userRole }',
            HREF: '#{ accountHost }/idm/user/#{ user.id }',
            BEARER_TOKEN: 'Bearer #{ user.accessToken }'
          })
          .run(['$http', 'LOGGED_USER', function ($http, LOGGED_USER) {
            $http.defaults.headers.common.Authorization = LOGGED_USER.BEARER_TOKEN;
          }]);

    each jsFilePath in jsAppFilesToInject
      script(src="#{ contextPath }/#{ jsFilePath }")

  body(ng-app="app", ng-controller="UserCtrl")

    .navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          a.navbar-brand(href="#{ contextPath }/")
            img(src="#{ contextPath }/resources/core/images/fiware-tmforum-logo.png")
        .navbar-collapse.collapse
          h3.navbar-text
            block navbar-title
          if user
            ul.nav.navbar-nav.navbar-right
              li.dropdown
                a.dropdown-toggle(data-toggle="dropdown")
                  span.fa-stack
                    i.fa.fa-circle.fa-stack-2x
                    i.fa.fa-shopping-cart.fa-stack-1x.fa-inverse
                  span &nbsp;Shopping Cart&nbsp;
                  span.label.label-success 0
                ul.dropdown-menu
                  li.dropdown-header.text-center
                    | Your shopping cart is empty.
              li.dropdown
                a.dropdown-toggle(data-toggle="dropdown")
                  span.fa-stack
                    i.fa.fa-circle-thin.fa-stack-2x
                    i.fa.fa-user.fa-stack-1x
                  | &nbsp;#{ user.displayName }
                ul.dropdown-menu
                  li.dropdown-header.text-center
                    span.fa-stack.fa-3x
                      i.fa.fa-circle.fa-stack-2x
                      i.fa.fa-user.fa-inverse.fa-stack-1x
                    p #{ user.displayName }
                    p.text-muted #{ user.email }
                  li
                    a(ng-click="updateProfile()")
                      i.fa.fa-cog.fa-fw
                      | &nbsp;Profile
                    a(href="#{ contextPath }/mystock")
                      i.fa.fa-database.fa-fw
                      | &nbsp;My stock
                  li.divider
                  li
                    a(ng-click="signOut()")
                      i.fa.fa-sign-out.fa-fw
                      | &nbsp;Sign out
          else
            a.btn.btn-primary.navbar-btn.navbar-right(href="#{ contextPath }/login") Sign in

    .notification-list(ng-controller="MessageListCtrl")
      .container(ng-messages="$alert", ng-if="!hidden")
        .alert.alert-success(ng-message="success")
          button.close(type="button", ng-click="resetAlert()")
            i.fa.fa-remove.fa-fw
          span.alert-message(ng-bind-html="$alert.message")

    .container
      block content

    footer.clearfix
      hr.fiware-line
      .col-sm-6
        ul.list-inline
          li.text-muted
            small © 2015 CoNWeT Lab., Universidad Politécnica de Madrid
      .col-sm-6
        ul.list-inline.pull-right
          li
            small
              a(href="https://www.fiware.org") FIWARE
          li
            small ·
          li
            small
              a(href="https://www.tmforum.org") TM FORUM

    if user
      form(name="signOutForm", method="post", action="#{ contextPath }/logout")
      include ./includes/UserProfile.jade

    script(type="text/ng-template", id="seller/product-view")
      include ./includes/seller/product/ProductView.jade
    script(type="text/ng-template", id="seller/product-create-general-view")
      include ./includes/seller/product/create-wizard/ProductCreateGeneralView.jade
    script(type="text/ng-template", id="seller/product-create-assets-view")
      include ./includes/seller/product/create-wizard/ProductCreateAssetsView.jade
    script(type="text/ng-template", id="seller/product-create-finish-view")
      include ./includes/seller/product/create-wizard/ProductCreateFinishView.jade
    script(type="text/ng-template", id="seller/catalogue-view")
      include ./includes/seller/product-catalogue/ProductCatalogueView.jade
