doctype html
html
    head
        title #{title}
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        main
            block header
                header.header
                    a.title(href='/')
                        h1 #{title}

            div.container-siop
                div.content-row
                    h2 Please authenticate using the QR in the popup.
    script.
                function openWindow() {
                    return window.open('#{verifierQRCodeURL}?#{statePair}&#{callbackURLPair}&#{clientIDPair}', '_blank', 'popup,width=500,height=500');
                }
                let thePopup = openWindow();
                setInterval(pollServer, 1000, 'nonce');
                async function pollServer() {
                    try {
                        const response = await fetch('#{pollURL}')
                        if (response.status === 400 || response.status === 500) {
                            location.replace('/')
                            return
                        } else if (response.status === 401) {
                            return
                        }
                        thePopup.close()
                    } catch (error) {
                        console.log(error)
                    }
                    location.replace('/')
                }