form(name="step.form", novalidate)
  .form-group
    label #{ __("Name") }
    input.form-control(
      type="text"
      name="name"
      ng-model="createVM.data.name"
      required
      readonly
    )
  .form-group
    label #{ __("Status") }
    .status-group
      .status-item(ng-repeat="status in FILTER_STATUS", class="status-{{ status.value | lowercase }}", ng-class="{ active: createVM.data.lifecycleStatus == status.value }")
        span.item-icon
        span.item-text {{ status.value }}
  .form-group
    label #{ __("Description") }
    textarea.form-control(
      rows="3",
      name="description",
      ng-model="createVM.data.description"
      readonly
    )
  .row(ng-if="createVM.characteristics.length")
    .col-sm-12
      .h4.text-dark-secondary
        strong #{ __("Characteristics") }
      table.table.table-bordered
        thead
          tr
            th #
            th #{ __("Name") }
            th #{ __("Type") }
            th #{ __("Values") }
            th #{ __("Default") }
        tbody
          tr(ng-repeat="characteristic in createVM.characteristics")
            th {{ $index + 1 }}
            td {{ characteristic.name }}
            td {{ characteristic.valueType }}
            td
              span(ng-repeat="value in characteristic.resourceSpecCharacteristicValue")
                span(ng-if="!$first") ,
                span {{ createVM.getFormattedValueOf(characteristic, value) }}
            td {{ createVM.getFormattedValueOf(characteristic, createVM.getDefaultValueOf(characteristic)) }}

  .form-group.text-right
    a.btn.btn-warning(
      ng-click="createVM.create()"
      ng-disabled="!step.form.$valid || createVM.status === createVM.STATUS.PENDING"
    )
      span.item-icon.fa.fa-spin.fa-spinner(ng-if="createVM.status === createVM.STATUS.PENDING")
      span.item-text #{ __("Create") }