form(name="updateVM.form", novalidate)
  .h4.text-dark-secondary
    strong #{ __("General") }
  .form-group(
    ng-class="{ 'has-error': updateForm.hasError(updateVM.form.name) }"
  )
    label #{ __("Name") }
    input.form-control(
      type="text"
      name="name"
      ng-model="updateVM.data.name"
      required
      ng-maxlength="50"
      field-original-value="{{ updateVM.item.name }}"
    )
    .help-block(
      ng-messages="updateVM.form.name.$error"
      ng-show="updateForm.hasError(updateVM.form.name)"
    )
      span(ng-message="required") #{ __("This field is required.") }
      span(ng-message="maxlength") #{ __("This field must not exceed %s chars.", "50") }
      span(ng-message="unique") #{ __("This name is already taken.") }
  .form-group
    label #{ __("Status") }
    .status-group
      .status-item(ng-repeat="status in FILTER_STATUS", class="status-{{ status.value | lowercase }}", ng-click="updateVM.updateStatus(status.value)", ng-class="{ active: updateVM.data.lifecycleStatus == status.value, enabled: updateVM.data.lifecycleStatus == status.value && !updateVM.statusUpdated }")
        span.item-icon
        span.item-text {{ status.value }}
  .form-group
    label
      span #{ __("Description") }
      small.text-muted (#{ __("optional") })
    textarea.form-control(rows="3", name="description", ng-model="updateVM.data.description")
  .form-group.text-right
    a.btn.btn-success(
      ng-click="updateVM.update()"
      ng-disabled="!updateVM.form.$valid || updateVM.update.status === updateVM.STATUS.PENDING"
    )
      span.item-icon.fa.fa-spin.fa-spinner(ng-if="updateVM.update.status === updateVM.STATUS.PENDING")
      span.item-text #{ __("Update") }