form(name="step.form", novalidate)
  .form-group(
    ng-class="{ 'has-error': createForm.hasError(step.form.name) }"
  )
    label #{ __("Enter a name") }
    input.form-control(
      type="text"
      name="name"
      ng-model="createVM.data.name"
      required
      ng-maxlength="50"
    )
    .help-block(
      ng-messages="step.form.name.$error"
      ng-show="createForm.hasError(step.form.name)"
    )
      span(ng-message="required") #{ __("This field is required.") }
      span(ng-message="maxlength") #{ __("This field must not exceed %s chars.", "50") }
  .form-group
    label
      span #{ __("Enter a description") }
      small.text-muted (#{ __("optional") })
    textarea.form-control(name="description", rows="3", ng-model="createVM.data.description")
  .form-group.text-right
    a.btn.btn-default.z-depth-1(ng-click="createForm.nextStep($index + 1, createVM.stepList[$index + 1])", ng-disabled="!step.form.$valid")
      span.item-text #{ __("Next") }