form(name="step.form", novalidate)
  .row(ng-if="createVM.getTotalPercentage() != 100")
    .col-sm-12
      .alert.alert-danger.text-center The total percentage must be equal to 100% please review you provider and stakeholders values

  .h5.text-dark-secondary
    strong General
  .row
    .col-sm-12
      .form-group(
        ng-class="{ 'has-error': createForm.hasError(step.form.productClass) }"
      )
        label Product class
        input.form-control(
          type="text"
          name="productClass"
          ng-model="createVM.data.productClass"
          required
          disabled
        )
  .row
    .col-sm-6
      .form-group
        label Platform percentage
        .input-group
          input.form-control(
          type="text"
          ng-model="createVM.platformRevenue"
          disabled
          )
          span.input-group-addon %
    .col-sm-6
      .form-group(
      ng-class="{ 'has-error' : createForm.hasError(step.form.providerValue) }"
      )
        label Provider percentage
        .input-group
          input.form-control(
          type="number"
          name="providerValue"
          ng-model="createVM.data.ownerValue"
          required
          disabled
          )
          span.input-group-addon %

  .h5.text-dark-secondary
    strong Stakeholders
  .row
    .col-sm-12
      .table-responsive
        table.table.table-bordered(ng-if="createVM.data.stakeholders.length")
          thead
            tr
              th User
              th Percentage
          tbody
            tr(ng-repeat="stakeholder in createVM.data.stakeholders")
              td {{ stakeholder.stakeholderId }}
              td {{ stakeholder.modelValue }} %
      .alert.alert-info.text-center(ng-if="!createVM.data.stakeholders.length")
        | No stakeholders included.

  .row
    .col-sm-12
      h5(ng-class="{'text-danger': createVM.getTotalPercentage() != 100}")
        strong Total: {{ createVM.getTotalPercentage() }} %

  .form-group.text-right
    a.btn.btn-success(ng-click="createVM.create()", ng-disabled="!step.form.$valid || createVM.getTotalPercentage() != 100")
      span.item-text Create