.panel.panel-default.z-depth-1(ng-controller="FormWizardCtrl as updateForm")
  .panel-body
    form(name="updateVM.form", novalidate)
      .h4.text-dark-secondary
        strong #{ __("General") }
      hr
      .form-group(ng-class="{ 'has-error': createForm.hasError(updateVM.form.idpId) }")
        label #{ __("IDP EORI") }
        input.form-control(
          type="text"
          name="idpId"
          ng-model="updateVM.data.idpId"
          required
          ng-maxlength="100"
          field-unique="IdpsService"
          readonly
        )
        .help-block(
          ng-messages="updateVM.form.idpId.$error"
          ng-show="updateForm.hasError(updateVM.form.idpId)"
        )
          span(ng-message="required") #{ __("This field is required.") }
          span(ng-message="maxlength") #{ __("This field must not exceed 100 chars.") }
          span(ng-message="unique") #{ __("This EORI is already taken.") }
      .row
        .col-sm-6
          .form-group(ng-class="{ 'has-error': updateForm.hasError(updateVM.form.name) }")
            label #{ __("Name") }
            input.form-control(
              type="text"
              name="name"
              ng-model="updateVM.data.name"
              required
              ng-maxlength="100"
            )
            .help-block(
              ng-messages="updateVM.form.name.$error"
              ng-show="updateForm.hasError(updateVM.form.name)"
            )
              span(ng-message="required") #{ __("This field is required.") }
              span(ng-message="maxlength") #{ __("This field must not exceed 100 chars.") }
        .col-sm-6
          .form-group(ng-class="{ 'has-error': updateForm.hasError(updateVM.form.server) }")
            label #{ __("Server") }
            input.form-control(
              type="url"
              name="server"
              ng-model="updateVM.data.server"
              required
            )
            .help-block(
              ng-messages="updateVM.form.server.$error"
              ng-show="updateForm.hasError(updateVM.form.server)"
            )
              span(ng-message="required") #{ __("This field is required.") }
              span(ng-message="url") #{ __("This field must be a valid URL.") }
      .form-group
        label
          span #{ __("Description") }
          small.text-muted (optional)
        textarea.form-control(rows="3", name="description", ng-model="updateVM.data.description")

      .form-group.text-right
        a.btn.btn-success(
          ng-click="updateVM.update()"
          ng-disabled="!updateVM.form.$valid || updateVM.dataStatus === updateVM.DATA_STATUS.LOADING"
        )
          span.item-icon.fa.fa-spin.fa-spinner(ng-if="updateVM.dataStatus === updateVM.DATA_STATUS.LOADING")
          span.item-text #{ __("Update") }
