.panel.panel-default.z-depth-1
  .panel-body
    .h4.text-dark-secondary
      strong #{ __("Access") }
    hr
    form(name="updateVM.form", novalidate)
      .alert.alert-info #{ __("To generate an access token insert your password and press Token.") }
      .row
        .col-sm-6
          .form-group
            label #{ __("Token") }
            input.form-control(
              type="text"
              name="token"
              ng-model="detailVM.token"
              readonly
            )

        .col-sm-6
          .form-group
            label #{ __("Refresh Token") }
            input.form-control(
              type="text"
              name="refreshToken"
              ng-model="detailVM.refreshToken"
              readonly
            )
      
      .row
        .col-sm-6
          .form-group
            label #{ __("Password") }
            input.form-control(
              type="password"
              name="password"
              ng-model="detailVM.password"
              required
            )
            //- .help-block(
            //-   ng-messages="updateVM.form.password.$error"
            //-   ng-show="updateVM.hasFieldError(updateVM.form.password)"
            //- )
            //-   span(ng-message="required") #{ __("This field is required.") }
        .col-sm-6
          .form-group
            label #{ __("Generate") }
            a.btn.btn-success.z-depth-1(ng-if="detailVM.isDigital()" ng-click="detailVM.generateToken()")
              span.item-icon.fa.fa-key
              span.item-text #{ __("Token") }
          //- .form-group.text-right
          //-   label #{ __(" ") }
          //-   a.btn.btn-success(
          //-     ng-click="updateVM.update()"
          //-     ng-disabled="!updateVM.form.$valid || updateVM.update.status === updateVM.STATUS.PENDING"
          //-   )
          //-     span.item-icon.fa.fa-spin.fa-spinner(ng-if="updateVM.update.status === updateVM.STATUS.PENDING")
          //-     span.item-text #{ __("Update") }
      //-     .form-group
      
      //- .form-group.text-right
      //-   a.btn.btn-success(
      //-     ng-click="updateVM.update()"
      //-     ng-disabled="!updateVM.form.$valid || updateVM.update.status === updateVM.STATUS.PENDING"
      //-   ) 
      //-   span.item-icon.fa.fa-spin.fa-spinner(ng-if="updateVM.update.status === updateVM.STATUS.PENDING")
      //-   span.item-text #{ __("Update") }
      //- .row
      //-   .col-sm-6
      //-     .form-group(ng-class="{ 'has-error': updateVM.hasFieldError(updateVM.form.title) }")
      //-       label #{ __("Title") }
      //-       select.form-control(
      //-         name="title"
      //-         ng-model="updateVM.data.title"
      //-       )
      //-         option(value="") #{ __("Prefer not to say") }
      //-         option(ng-repeat="title in ['Miss', 'Mrs', 'Mr', 'Ms']", value="{{ title }}") {{ title }}
      //-   .col-sm-6
      //-     .form-group(ng-class="{ 'has-error': updateVM.hasFieldError(updateVM.form.maritalStatus) }")
      //-       label #{ __("Marital status") }
      //-       select.form-control(
      //-         name="maritalStatus"
      //-         ng-model="updateVM.data.maritalStatus"
      //-       )
      //-         option(value="") #{ __("Prefer not to say") }
      //-         option(ng-repeat="status in ['Divorced', 'Married', 'Separated', 'Single', 'Widowed']", value="{{ status }}") {{ status }}
      //- .row
      //-   .col-sm-6
      //-     .form-group(ng-class="{ 'has-error': updateVM.hasFieldError(updateVM.form.gender) }")
      //-       label #{ __("Gender") }
      //-       select.form-control(
      //-         name="gender"
      //-         ng-model="updateVM.data.gender"
      //-       )
      //-         option(value="") #{ __("Prefer not to say") }
      //-         option(ng-repeat="gender in ['Female', 'Male']", value="{{ gender }}") {{ gender }}
      //-   .col-sm-6
      //-     .form-group(ng-class="{ 'has-error': updateVM.hasFieldError(updateVM.form.nationality) }")
      //-       label #{ __("Nationality") }
      //-       input.form-control(
      //-         type="text"
      //-         name="nationality"
      //-         ng-model="updateVM.data.nationality"
      //-       )