
.row
  .modal.fade(id="confirm-prod-modal")
    .modal-dialog
      .modal-content
        .modal-header
          .h4
            strong #{ __("Are you sure?") }
        .modal-body
          span(ng-if="!detailVM.isUsage()") #{ __("Are you sure that you want to unsubscribe the service? You will lost the remaining time until the next payment period. If you want to consume the remaining service time you can wait until the next renewal period") }
          span(ng-if="detailVM.isUsage()") #{ __("Are you sure that you want to delete the IDP? You will need to pay the pending usage") }
        .modal-footer
          a.btn.btn-danger.z-depth-1(data-dismiss="modal", ng-click="detailVM.removeProduct()")
            span.item-text #{ __("Unsubscribe") }
          a.btn.btn-default.z-depth-1(data-dismiss="modal")
            span.item-text #{ __("Cancel") }

  .modal.fade(id="confirm-renew")
    .modal-dialog
      .modal-content
        .modal-header
          .h4
            strong #{ __("Are you sure?") }
        .modal-body
          span #{ __("Are you sure that you want to renew the service? If you have remainig time until the service expiration time you won't be charged") }
        .modal-footer
          a.btn.btn-success.z-depth-1(data-dismiss="modal", ng-click="detailVM.renewProduct()")
            span.item-text #{ __("Renew") }
          a.btn.btn-default.z-depth-1(data-dismiss="modal")
            span.item-text #{ __("Cancel") }
  .col-xs-12
    .panel.panel-default.z-depth-1.header-product
      .thumbnail
        img(no-image, ng-src="{{ detailVM.item.productOffering.getPicture() }}")
      .panel-body
        .h3.text-center.item-offering-name
          strong {{ detailVM.item.productOffering.name }}
        .h3.text-center
          span(star-rating rating-value="ratings.current" max="ratings.max" on-rating-selected="updateSelectedRating(rating)")
        .btn-toolbar.pull-right
          a.btn.btn-success.z-depth-1(ng-if="detailVM.isDigital()" ng-click="detailVM.downloadAsset()")
            span.item-icon.fa.fa-download
            span.item-text #{ __("Download") }
          a.btn.btn-success.z-depth-1(ng-if="detailVM.isRenewable()" ng-click="detailVM.renewProductModal()")
            span.item-icon.fa(ng-class="detailVM.loading() ? ['fa-spinner', 'fa-spin'] : 'fa-refresh'")
            span.item-text #{ __("Renew") }
          a.btn.btn-success.z-depth-1(ng-if="detailVM.isRenewable() && !detailVM.isSuspended()" ng-click="detailVM.removeProductModal()")
            span.item-icon.fa(ng-class="detailVM.loading() ? ['fa-spinner', 'fa-spin'] : 'fa-remove'")
            span.item-text #{ __("Unsubscribe") }
      ul.nav.nav-justified.nav-pills
        li(ui-sref-active-eq="active")
          a(ui-sref="inventory.product.detail")
            span.item-icon.fa.fa-newspaper-o
            span.item-text.hidden-xs #{ __("About") }
        li(ui-sref-active-eq="active")
          a(ui-sref="inventory.product.detail.productCharacteristic")
            span.item-icon.fa.fa-gears
            span.item-text.hidden-xs #{ __("Characteristics") }
        li(ng-if="detailVM.tokenSupported()" ui-sref-active-eq="active")
          a(ui-sref="inventory.product.detail.access")
            span.item-icon.fa.fa-key
            span.item-text.hidden-xs #{ __("Access") }
        li(ui-sref-active-eq="active")
          a(ui-sref="inventory.product.detail.productPrice")
            span.item-icon.fa.fa-credit-card
            span.item-text.hidden-xs #{ __("Agreements") }
        li(ui-sref-active-eq="active")
          a(ui-sref="inventory.product.detail.services")
            span.item-icon.fa.fa-credit-card
            span.item-text.hidden-xs #{ __("Services") }
        li(ui-sref-active-eq="active")
          a(ui-sref="inventory.product.detail.resources")
            span.item-icon.fa.fa-credit-card
            span.item-text.hidden-xs #{ __("Resources") }
        //- li(ui-sref-active-eq="active")
        //-   a(ui-sref="inventory.product.detail.charges")
        //-     span.item-icon.fa.fa-money
        //-     span.item-text.hidden-xs #{ __("Charges") }
        //- li(ng-if="detailVM.isUsage()" ui-sref-active-eq="active")
        //-   a(ui-sref="inventory.product.detail.usage")
        //-     span.item-icon.fa.fa-area-chart
        //-     span.item-text.hidden-xs #{ __("Usage") }
  .col-xs-12
    ui-view
      .panel.panel-default.z-depth-1
        .panel-body
          .h4.text-dark-secondary
            strong #{ __("General") }
          dl
            dt #{ __("Description") }
            dd.text-dark-secondary {{ detailVM.product.description ? detailVM.product.description : 'No description provided.' }}
            dt #{ __("Offering") }
            dd
              a(ui-sref="offering.detail({ offeringId: detailVM.item.productOffering.id })", ui-sref-opts="{ inherit: false }") {{ detailVM.item.productOffering.name }}
            dt(ng-if="detailVM.item.startDate") #{ __("Start date") }
            dd.text-dark-secondary(ng-if="detailVM.item.startDate")
              time(am-time-ago="detailVM.item.startDate")
          //- dl(ng-repeat="term in detailVM.item.productOffering.productOfferingTerm")   
          //-   .h4.text-dark-secondary
          //-     strong #{ __("Terms and condition") }
          //-   dl
          //-     dt {{ term.name }}  
          //-     dd(ng-if="term.type == 'Custom'") {{ term.description }}
          //-     dd(ng-if="term.type == 'Standard'") <a ng-href="{{term.description}}" target="_blank"> {{ term.description }} </a>