
.row
  .col-xs-12
    .panel.panel-default.z-depth-1.header-product
      .panel-body
        .h3.text-center.item-offering-name
          strong {{ detailVM.item.name }}
      ul.nav.nav-justified.nav-pills
        li(ui-sref-active-eq="active")
          a(ui-sref="inventory.service.detail")
            span.item-icon.fa.fa-newspaper-o
            span.item-text.hidden-xs #{ __("About") }
        li(ui-sref-active-eq="active")
          a(ui-sref="inventory.service.detail.characteristic")
            span.item-icon.fa.fa-gears
            span.item-text.hidden-xs #{ __("Characteristics") }
  .col-xs-12
    ui-view
      .panel.panel-default.z-depth-1
        .panel-body
          .h4.text-dark-secondary
            strong #{ __("General") }
          dl
            dt #{ __("Description") }
            dd.text-dark-secondary {{ detailVM.item.description }}
            dt #{ __("Service Status") }
            dd.text-dark-secondary {{ detailVM.item.state }}
            dt #{ __("Start Date") }
            dd.text-dark-secondary(ng-if="detailVM.item.startDate")
              time(am-time-ago="detailVM.item.startDate")