.modal.fade(tabindex="-1", ng-controller="CatalogueUpdateCtrl")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal")
          span &times;
        .modal-title Catalogue settings
      .modal-body
        .row
          .col-sm-10.col-sm-offset-1
            ul.nav.nav-tabs
              li(ng-repeat="tab in tabs", ng-class="{ 'active' : tab.active }", ng-click="showTab($index)")
                a {{ tab.name }}
            .tab-content
              .tab-pane(ng-class="{ 'active' : tabs[0].active }")
                form(name="catalogueUpdateForm", novalidate)
                  .form-group(
                    ng-class="{ 'has-error' : catalogueUpdateForm.name.$invalid && (catalogueUpdateForm.name.$dirty || catalogueUpdateForm.name.$touched) }"
                  )
                    label Name
                    input.form-control(
                      type="text"
                      name="name"
                      ng-model="$catalogue.name"
                      required
                      ng-minlength="5"
                      ng-maxlength="30"
                      field-unique="Catalogue"
                      field-original-value="{{ $catalogueOriginal.name }}"
                    )
                    .help-block(
                      ng-messages="catalogueUpdateForm.name.$error"
                      ng-show="catalogueUpdateForm.name.$invalid && (catalogueUpdateForm.name.$dirty || catalogueUpdateForm.name.$touched)"
                    )
                      span(ng-message="required") This field is required.
                      span(ng-message="minlength") This field must contain at least 5 chars.
                      span(ng-message="maxlength") This field must not exceed 30 chars.
                      span(ng-message="unique") This name is already taken.
                  .form-group
                    label
                      | Description 
                      small.text-muted optional
                    textarea.form-control(rows="3", name="description", ng-model="$catalogue.description")
      .modal-footer
        button.btn.btn-default(type="button", data-dismiss="modal") Cancel
        button.btn.btn-success(type="button", ng-click="updateCatalogue()" ng-disabled="!catalogueUpdateForm.$valid") Save changes