.row(ng-controller="CatalogueDetailCtrl")
  .col-sm-12(ng-if="$catalogue != null")
      .panel.panel-default
        .panel-heading
          .panel-title {{ $catalogue.name }}
          .panel-subtitle
            | Updated 
            time(am-time-ago="$catalogue.lastUpdate")
          .panel-options.static-right(ng-if="hasRoleAsOwner()")
            button.btn.btn-sm.btn-default(type="button", ng-click="showUpdateForm()")
              i.fa.fa-fw.fa-cog
              | &nbsp;Settings
        .panel-body
          blockquote(ng-if="$catalogue.description")
            p {{ $catalogue.description }}
          .lifecycle-status-group.no-user-select(ng-class="{ 'readonly' : !hasRoleAsOwner() }")
            .lifecycle-status-item(
              ng-repeat="status in LIFECYCLE_STATUS_LIST"
              data-type="{{ status.id | lowercase }}"
              data-title="{{ status.title }}"
              ng-class="{ 'active' : $catalogue.lifecycleStatus == status.title }"
              ng-click="updateStatus(status.title)"
            )
              span.status
          ul.nav.nav-pills.nav-justified
            li(
              ng-repeat="tab in tabs"
              ng-class="{ 'active' : $index == tabActive }"
            )
              a(ng-click="showView($index)")
                i.fa.fa-fw(ng-class="'{{ tab.icon }}'")
                | &nbsp;{{ tab.title }}
  .col-sm-12(ng-if="$catalogue != null", ng-switch="tabActive")
    div(ng-switch-when="0")
      .container-spinner(ng-if="catalogueOfferingListWaiting")
        i.fa.fa-spinner.fa-2x.fa-spin
      .alert.alert-info.text-center(ng-if="!catalogueOfferingListWaiting && !catalogueOfferingList.length")
        | No offerings created yet.
      .row(ng-if="catalogueOfferingList.length")
        .col-sm-12
          .flex-container
            .panel.panel-default.item-product(ng-repeat="$offering in catalogueOfferingList")
              .panel-heading
                .thumbnail.item-product-logo
                  img(no-image, ng-src="{{ getProductPicture($offering) }}")
                a.panel-title {{ $offering.name }}
                .panel-subtitle
                  span v{{ $offering.version }}
                  span.pull-right
                    time(am-time-ago="$offering.lastUpdate")
              .panel-body
                .lifecycle-status-group
                  .lifecycle-status-item.active(
                    data-type="{{ $offering.lifecycleStatus | lowercase }}"
                    data-title="{{ $offering.lifecycleStatus }}"
                  )
                    span.status
          ul.pager
            li.disabled
              a
                i.fa.fa-arrow-left
            li.disabled
              a
                i.fa.fa-arrow-right
    table.table.table-bordered(ng-switch-when="1")
      thead
        tr
          th Username
          th Owner
          th Seller
      tbody
        tr(ng-repeat="$party in $catalogue.relatedParty")
          td {{ $party.id }}
          td.text-success
            i.fa.fa-check-circle-o(ng-if="$party.role == 'Owner'")
          td.text-success
            i.fa.fa-check-circle-o(ng-if="$party.role == 'Seller'")