ui-view
  .row
    .col-xs-12
      .breadcrumb-triangle.z-depth-1
        a(ui-sref="offering", ui-sref-opts="{ reload: true, inherit: false }")
          span.item-icon.fa.fa-chevron-left
          span.item-text #{ __("Back") }
        a.active
          span.item-icon.fa.fa-share
          span.item-text #{ __("Checkout") }
    .col-xs-12
      .panel.panel-default.z-depth-1
        .panel-body(ng-switch="orderVM.loadingStatus")
          .h4
            strong #{ __("Confirm and checkout") }
          hr
          form(ng-switch-when="LOADED", name="order.form", novalidate)
            .row
              .col-xs-12
                .form-group
                  label
                    span #{ __("Enter a note") }
                    small.text-muted (#{ __("optional") })
                  textarea.form-control(rows="3", name="note", ng-model="orderVM.note.text")
            //- .row
            //-   .col-xs-12
            //-     .form-group(ng-controller="BillingAccountSearchCtrl as searchVM")
            //-       label
            //-         span #{ __("Choose a billing address") }
            //-       input(type="hidden" ng-model="orderVM.billingAccount.id" required)
            //-       .alert.alert-danger.text-center(ng-if="searchVM.status === 'ERROR'")
            //-         span {{ searchVM.errorMessage }}
            //-       .alert.alert-warning.text-center(ng-if="searchVM.status === 'LOADED' && !searchVM.list.length")
            //-         span #{ __("You should first create at least a billing address in order to checkout an order.  ") }
            //-         a(ui-sref="settings.contact.shipping") #{ __("Click here.") }
            //-       .container-spinner(ng-if="searchVM.status === 'LOADING'")
            //-         span.fa.fa-spinner.fa-spin.fa-2x
            //-       .table-responsive(ng-if="searchVM.status === 'LOADED' && searchVM.list.length")
            //-         table.table.table-bordered.table-hover.table-selectable(ng-init="orderVM.setBillingAccount(searchVM.list[0])")
            //-           thead
            //-             tr
            //-               th #{ __("Email address") }
            //-               th #{ __("Postal address") }
            //-               th #{ __("Telephone number") }
            //-           tbody
            //-             tr(ng-repeat="billingAccount in searchVM.list" ng-click="orderVM.setBillingAccount(billingAccount)" ng-class="{ 'active': orderVM.billingAccount.id == billingAccount.id }")
            //-               td {{ billingAccount.getEmailAddress().toString() }}
            //-               td
            //-                 span(style="white-space: pre-line;") {{ billingAccount.getPostalAddress().toString() }}
            //-               td {{ billingAccount.getTelephoneNumber().toString() }}
            .row
              .col-xs-12
                .h4.text-dark-secondary
                  strong #{ __("Shopping Cart") }
                .panel-group(id="order-item-list")
                  .panel.panel-default.z-depth-1(ng-repeat="item in orderVM.orderInfo.productOrderItem")
                    .panel-heading
                      .pull-right
                        strong {{ orderVM.productOrderItem[$index].pricePlan.toString() }} {{ orderVM.productOrderItem[$index].pricePlan.formatPriceAlteration(false) }}
                      .h4
                        a.btn-block(data-toggle="collapse", data-parent="#order-item-list", data-target="#order-item-{{ $index }}")
                          span.item-text {{ item.productOffering.name }}
                    .panel-collapse.collapse(id="order-item-{{ $index }}")
                      .panel-body
                        .h4.text-dark-secondary
                          strong #{ __("Overview") }
                        .table-responsive
                          table.table.table-bordered
                            thead
                              tr
                                th #{ __("Quantity") }
                                th Href
                            tbody
                              tr
                                td.text-dark-secondary x 1
                                td.text-dark-secondary {{ item.productOffering.href }}
                        .h4.text-dark-secondary
                          strong #{ __("Appointment") }
                        .form-group
                          input.form-control(
                            type="url"
                            ng-model="item.appointment"
                          )
                        .h4.text-dark-secondary(ng-if="item.product.productPrice.length")
                          strong #{ __("Price plan") }
                        .table-responsive(ng-if="item.product.productPrice.length")
                          table.table.table-bordered
                            thead
                              tr
                                th #{ __("Name") }
                                th #{ __("Description") }
                                th #{ __("Price") }
                                th #{ __("Price alteration") }
                            tbody
                              tr
                                th.text-dark-secondary {{ orderVM.productOrderItem[$index].pricePlan.name }}
                                td.text-dark-secondary {{ orderVM.productOrderItem[$index].pricePlan.description }}
                                td.text-dark-secondary {{ orderVM.productOrderItem[$index].pricePlan.toString() }}
                                td.text-dark-secondary {{ orderVM.productOrderItem[$index].pricePlan.formatPriceAlteration() }}
                        .h4.text-dark-secondary(ng-if="item.product.productCharacteristic.length")
                          strong #{ __("Characteristics") }
                        .table-responsive(ng-if="item.product.productCharacteristic.length")
                          table.table.table-bordered
                            thead
                              tr
                                th #{ __("Name") }
                                th #{ __("Value") }
                            tbody
                              tr(ng-repeat="char in item.product.productCharacteristic")
                                td.text-dark-secondary {{ char.name }}
                                td.text-dark-secondary {{ char.value }}
            .form-group.text-right
              a.btn.btn-success.z-depth-1(ng-disabled="!order.form.$valid || orderVM.createOrderStatus == 'LOADING'", ng-click="orderVM.makeOrder()")
                span.item-icon.fa(ng-class="orderVM.createOrderStatus === 'LOADING' ? ['fa-spinner', 'fa-spin'] : 'fa-share'")
                span.item-text #{ __("Checkout") }
          div(ng-switch-when="ERROR")
            .alert.alert-danger.text-center {{ orderVM.error }}
          div(ng-switch-default)
            .container-spinner
              span.fa.fa-spinner.fa-spin.fa-2x
