ui-view
  .row
    .col-xs-12
      .breadcrumb-triangle.z-depth-1
        a(ui-sref="offering", ui-sref-opts="{ reload: true, inherit: false }")
          span.item-icon.fa.fa-chevron-left
          span.item-text Back
        a.active
          span.item-icon.fa.fa-share
          span.item-text Checkout
    .col-xs-12
      .panel.panel-default.z-depth-1
        .panel-body(ng-switch="orderVM.loadingStatus")
          .h4
            strong Confirm and checkout
          hr
          form(ng-switch-when="LOADED", name="order.form", novalidate)
            .row
              .col-xs-12
                .form-group
                  label
                    span Enter a name
                    small.text-muted (optional)
                  input.form-control(
                    type="text"
                    name="ext-id"
                    ng-model="orderVM.orderInfo.externalId"
                  )
            .row
              .col-xs-12
                .form-group
                  label Choose a priority
                  select.form-control(
                    name="priority"
                    ng-model="orderVM.orderInfo.priority"
                  )
                    option(ng-repeat="priority in orderVM.PRIORITIES" value="{{ $index }}") {{ priority.title }}
            .row
              .col-xs-12
                .form-group
                  label
                    span Enter a description
                    small.text-muted (optional)
                  textarea.form-control(rows="3", name="description", ng-model="orderVM.orderInfo.description")
            .row
              .col-xs-12
                .form-group
                  label
                    span Enter a note
                    small.text-muted (optional)
                  textarea.form-control(rows="3", name="note", ng-model="orderVM.note.text")
            .row
              .col-xs-12
                .form-group(ng-controller="BillingAccountSearchCtrl as searchVM")
                  label
                    span Choose a shipping address
                  input(type="hidden" ng-model="orderVM.billingAccount.id" required)
                  .alert.alert-danger.text-center(ng-if="searchVM.status === 'ERROR'")
                    span {{ searchVM.errorMessage }}
                  .alert.alert-warning.text-center(ng-if="searchVM.status === 'LOADED' && !searchVM.list.length")
                    span You should first create at least a shipping address in order to checkout an order. 
                    a(ui-sref="settings.contact.shipping") Click here.
                  .container-spinner(ng-if="searchVM.status === 'LOADING'")
                    span.fa.fa-spinner.fa-spin.fa-2x
                  .table-responsive(ng-if="searchVM.status === 'LOADED' && searchVM.list.length")
                    table.table.table-bordered.table-hover.table-selectable(ng-init="orderVM.setBillingAccount(searchVM.list[0])")
                      thead
                        tr
                          th Email address
                          th Postal address
                          th Telephone number
                      tbody
                        tr(ng-repeat="billingAccount in searchVM.list" ng-click="orderVM.setBillingAccount(billingAccount)" ng-class="{ 'active': orderVM.billingAccount.id == billingAccount.id }")
                          td {{ billingAccount.getEmailAddress().toString() }}
                          td
                            span(style="white-space: pre-line;") {{ billingAccount.getPostalAddress().toString() }}
                          td {{ billingAccount.getTelephoneNumber().toString() }}
            .row
              .col-xs-12
                .h4.text-dark-secondary
                  strong Shopping cart
                .panel-group(id="order-item-list")
                  .panel.panel-default.z-depth-1(ng-repeat="item in orderVM.orderInfo.orderItem")
                    .panel-heading
                      .pull-right
                        strong {{ orderVM.orderItems[$index].pricePlan.toString() }}
                      .h4
                        a.btn-block(data-toggle="collapse", data-parent="#order-item-list", data-target="#order-item-{{ $index }}")
                          span.item-text {{ item.productOffering.name }}
                    .panel-collapse.collapse(id="order-item-{{ item.id }}")
                      .panel-body
                        .h4.text-dark-secondary
                          strong Overview
                        .table-responsive
                          table.table.table-bordered
                            thead
                              tr
                                th Quantity
                                th Href
                            tbody
                              tr
                                td.text-dark-secondary x 1
                                td.text-dark-secondary {{ item.productOffering.href }}
                        .h4.text-dark-secondary
                          strong Appointment
                        .form-group
                          input.form-control(
                            type="url"
                            ng-model="item.appointment"
                          )
                        .h4.text-dark-secondary(ng-if="item.product.productPrice.length")
                          strong Price plan
                        .table-responsive(ng-if="item.product.productPrice.length")
                          table.table.table-bordered
                            thead
                              tr
                                th Name
                                th Description
                                th Price
                            tbody
                              tr
                                th.text-dark-secondary {{ orderVM.orderItems[$index].pricePlan.name }}
                                td.text-dark-secondary {{ orderVM.orderItems[$index].pricePlan.description }}
                                td.text-dark-secondary {{ orderVM.orderItems[$index].pricePlan.toString() }}
                        .h4.text-dark-secondary(ng-if="item.product.productCharacteristic.length")
                          strong Characteristics
                        .table-responsive(ng-if="item.product.productCharacteristic.length")
                          table.table.table-bordered
                            thead
                              tr
                                th Name
                                th Value
                            tbody
                              tr(ng-repeat="char in item.product.productCharacteristic")
                                td.text-dark-secondary {{ char.name }}
                                td.text-dark-secondary {{ char.value }}
            .form-group.text-right
              a.btn.btn-success.z-depth-1(ng-disabled="!order.form.$valid || orderVM.createOrderStatus == 'LOADING'", ng-click="orderVM.makeOrder()")
                span.item-icon.fa(ng-class="orderVM.createOrderStatus === 'LOADING' ? ['fa-spinner', 'fa-spin'] : 'fa-share'")
                span.item-text Checkout
          div(ng-switch-when="ERROR")
            .alert.alert-danger.text-center {{ orderVM.error }}
          div(ng-switch-default)
            .container-spinner
              span.fa.fa-spinner.fa-spin.fa-2x