.panel.panel-default.z-depth-2
  ul.nav.nav-responsive.nav-pills
    li(ui-sref-active="active")
      a(ui-sref="stock.catalogue", ui-sref-opts="{ reload: true, inherit: false }")
        span.item-icon.fa.fa-book
        span.item-text.hidden-xs #{ __("Catalogs") }
    li(ui-sref-active="active")
      a(ui-sref="stock.offering", ui-sref-opts="{ reload: true, inherit: false }")
        span.item-icon.fa.fa-cube
        span.item-text.hidden-xs #{ __("Offerings") }

.panel.panel-default.z-depth-2
  ul.nav.nav-responsive.nav-pills
    li(ui-sref-active="active")
      a(ui-sref="stock.product", ui-sref-opts="{ reload: true, inherit: false }")
        span.item-icon.fa.fa-file
        span.item-text.hidden-xs #{ __("Product specifications") }
    li(ui-sref-active="active")
      a(ui-sref="stock.service" ui-sref-opts="{ reload: true, inherit: alse }")
        span.item-icon.fa.fa-book
        span.item-text.hidden-xs #{ __("Service Specifications") }
    li(ui-sref-active="active")
      a(ui-sref="stock.resource", ui-sref-opts="{ reload: true, inherit: false }")
        span.item-icon.fa.fa-book
        span.item-text.hidden-xs #{ __("Resource Specifications") }
