div(ng-controller="AssetController as assetVM")
  div(ng-switch="assetVM.status")
    div(ng-switch-when="LOADED")
      div(ng-show="assetVM.assetTypes.length")
        form(name="assetForm" ng-controller="FormWizardCtrl as assetFormCtl")
          .form-group(ng-init="assetVM.setForm(assetForm)")
            .row
              .col-sm-8
                label #{ __("Digital Asset Type") }
                select.form-control(name="asset", ng-model="assetVM.digitalChars[0].productSpecCharacteristicValue[0].value", ng-change="assetVM.setCurrentType()")
                  option(ng-repeat="asset in assetVM.assetTypes", value="{{ asset.name }}") {{ asset.name }}
              .col-sm-4
                label #{ __("How to provide?") }
                select.form-control(ng-model="assetVM.currFormat", ng-options="format for format in assetVM.currentType.formats")
          .form-group(ng-if="assetVM.isSelected('URL')")
            label #{ __("Asset URL") }
            .form-group(
              ng-class="{ 'has-error': assetFormCtl.hasError(assetForm.url) }"
            )
              input.form-control(
                type="url"
                name="url"
                ng-model="assetVM.digitalChars[2].productSpecCharacteristicValue[0].value"
                required
              )
              .help-block(
                ng-messages="assetForm.url.$error"
                ng-show="assetFormCtl.hasError(assetForm.url)"
              )
                span(ng-message="url") #{ __("This field must be a valid URL") }
                span(ng-message="required") #{ __("This field is required.") }

          .form-group(ng-if="assetVM.isSelected('FILE')")
            label #{ __("Asset File") }
            .form-group(
              ng-class="{ 'has-error': assetFormCtl.hasError(assetForm.fileAsset) }"
            )
              input.form-control(
                type="file"
                name="fileAsset"
                ng-model="assetVM.fileName"
                file-model="assetVM.assetFile"
                required-file
              )
              .help-block(
                ng-messages="assetForm.fileAsset.$error"
                ng-show="assetFormCtl.hasError(assetForm.fileAsset)"
              )
                span(ng-message="requiredFile") #{ __("This field is required.") }
          .form-group
            label #{ __("Media Type") }
            div(ng-if="!assetVM.currentType.mediaTypes.length" ng-init="assetVM.initMediaType()")
              .form-group(
                ng-class="{ 'has-error': assetFormCtl.hasError(assetForm.mediaType) }"
              )
                input.form-control(
                  type="text"
                  name="mediaType"
                  ng-model="assetVM.digitalChars[1].productSpecCharacteristicValue[0].value"
                  required
                )
                .help-block(
                  ng-messages="assetForm.mediaType.$error"
                  ng-show="assetFormCtl.hasError(assetForm.mediaType)"
                )
                  span(ng-message="required") #{ __("This field is required.") }

            div(ng-if="assetVM.currentType.mediaTypes.length" ng-init="assetVM.initMediaType()")
              select.form-control(ng-model="assetVM.digitalChars[1].productSpecCharacteristicValue[0].value"
                ng-options="media for media in assetVM.currentType.mediaTypes track by media")

          div(ng-repeat="element in assetVM.getCurrentForm()")
            .form-group
              label(ng-if="element.type != 'checkbox'") {{ assetVM.getMetaLabel(element.id) }}
              div(ng-if="element.type == 'text'")
                .form-group(
                  ng-class="{ 'has-error': assetFormCtl.hasError(assetForm[element.id]) }"
                )
                  input.form-control(
                    type="text",
                    name="{{ element.id }}",
                    ng-model="assetVM.meta[element.id]",
                    placeholder="{{ element.placeholder }}"
                    ng-required="element.mandatory"
                  )
                  .help-block(
                    ng-messages="assetForm[element.id].$error"
                    ng-show="assetFormCtl.hasError(assetForm[element.id])"
                  )
                    span(ng-message="required") #{ __("This field is required.") }

              div(ng-if="element.type == 'textarea'")
                textarea.form-control(name="{{ element.id }}", ng-model="assetVM.meta[element.id]", placeholder="{{ element.placeholder }}")
              div(ng-if="element.type == 'select'")
                select.form-control(
                  type="text", name="{{ element.id }}", ng-model="assetVM.meta[element.id]", ng-options="opt.value as opt.text for opt in element.options track by opt.value")
              .item-toggle(ng-if="element.type == 'checkbox'")
                label.toggle {{ assetVM.getMetaLabel(element.id) }}
                  .track
                    input(type="checkbox", ng-model="assetVM.meta[element.id]")
                    i.fa.fa-2x

      div(ng-show="!assetVM.assetTypes.length")
        .alert.alert-info #{ __("There isn't any digital asset type supported.") }

    div(ng-switch-when="LOADING")
      .container-spinner
        span.fa.fa-spinner.fa-spin.fa-2x

    div(ng-switch-default)
      .alert.alert-error assetVM.errMsg
