.panel.panel-default.z-depth-1
  .panel-body
    .row
      .col-md-12
        dl
          dd(ng-if="detailVM.item.place.length")
            .h4
              .label.label-default.inline-block(ng-repeat="place in detailVM.item.place")
                span.item-text {{ place.name }}
    .row
      .col-md-12
        dl
          dd.text-dark-secondary.text-preline {{ detailVM.item.description ? detailVM.item.description : '#{ __("No description provided.") }' }}

    .row
      .col-md-12
        .h4.text-dark-secondary
          strong #{ __("Extra Info") }
    .row
      .col-md-6
        dl
          dt #{ __("Offering Version") }
          dd.text-dark-secondary {{ detailVM.item.version }}
      .col-md-6
        dl
          dt #{ __("Last Updated") }
          dd.text-dark-secondary
            time {{ detailVM.item.lastUpdate | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}
    .row(ng-if="!detailVM.item.isBundle")
      .col-md-6
        dl
          dt #{ __("Product Name") }
          dd.text-dark-secondary {{ detailVM.item.productSpecification.name }}
          dt #{ __("Brand") }
          dd.text-dark-secondary {{ detailVM.item.productSpecification.brand }}
      .col-md-6
        dl
          dt #{ __("Product Version") }
          dd.text-dark-secondary {{ detailVM.item.productSpecification.version }}
          dt #{ __("ID Number") }
          dd.text-dark-secondary {{ detailVM.item.productSpecification.productNumber }}
    div
      div(ng-if="detailVM.item.productSpecification.isBundle")
        .h5.text-dark-primary
          strong #{ __("Bundled Products") }

        .panel-group(id="bundled-products")
          .panel.panel-default.z-depth-1(ng-repeat="product in detailVM.item.productSpecification.bundledProductSpecification")
            .panel-heading
              .pull-right
                strong v{{ product.version }}
              .h4
                a.btn-block(data-toggle="collapse", data-parent="#bundled-products", data-target="#bundled-product-{{ $index }}")
                  span.item-text {{ product.name }}
            .panel-collapse.collapse(id="bundled-product-{{ $index }}")
              .panel-body
                .row
                  .col-md-6
                    dl
                      dt #{ __("Product Name") }
                      dd.text-dark-secondary {{ product.name }}
                      dt #{ __("Brand") }
                      dd.text-dark-secondary {{ product.brand }}
                  .col-md-6
                    dl
                      dt #{ __("Product Version") }
                      dd.text-dark-secondary {{ product.version }}
                      dt #{ __("ID Number") }
                      dd.text-dark-secondary {{ product.productNumber }}