.panel.panel-default.z-depth-1
  .panel-body
    .row
      .col-md-12
        dl
          dd(ng-if="detailVM.item.place.length")
            .h4
              .label.label-default.inline-block(ng-repeat="place in detailVM.item.place")
                span.item-text {{ place.name }}
    .row
      .col-md-12
        dl
          dd.text-dark-secondary.text-preline {{ detailVM.item.description ? detailVM.item.description : '#{ __("No description provided.") }' }}

    .row(ng-if="detailVM.services.length > 0")
      .col-md-12
        dl
          dd.text-dark-secondary.text-preline {{ '#{ __("This offering includes the following service specifications: ") }' }}
        dl(ng-repeat="service in detailVM.services")
          dt {{ service.name }}
          dd.text-dark-secondary {{ service.description }}

    .row(ng-if="detailVM.resources.length > 0")
      .col-md-12
        dl
          dd.text-dark-secondary.text-preline {{ '#{ __("This offering includes the following resource specifications: ") }' }}
        dl(ng-repeat="resource in detailVM.resources")
          dt {{ resource.name }}
          dd.text-dark-secondary {{ resource.description }}

.panel.panel-default.z-depth-1
  .panel-body
    .row
      .col-md-12
        .h4.text-dark-secondary
          strong #{ __("Compliance profile") }
    .row
      .col-md-12
        dl
          dt
            span #{ __("EU Cloud Security: ") }
            span.cert-span.text-dark-secondary(ng-if="detailVM.certs.cloudsecurity == null") {{ '#{ __("Not achieved yet") }' }}
            a.cert-span(href="{{ detailVM.certs.cloudsecurity }}" ng-if="detailVM.certs.cloudsecurity != null" target="_blank") {{ '#{ __("Yes") }' }}
        dl
          dt
            span #{ __("EU Cloud Rulebook: ") }
            span.cert-span.text-dark-secondary(ng-if="detailVM.certs.cloudrulebook == null") {{ '#{ __("Not achieved yet") }' }}
            a.cert-span(href="{{ detailVM.certs.cloudrulebook }}" ng-if="detailVM.certs.cloudrulebook != null" target="_blank") {{ '#{ __("Yes") }' }}
        dl
          dt
            span #{ __("ISO 27001: ") }
            span.cert-span.text-dark-secondary(ng-if="detailVM.certs.iso27001 == null") {{ '#{ __("Not achieved yet") }' }}
            a.cert-span(href="{{ detailVM.certs.iso27001 }}" ng-if="detailVM.certs.iso27001 != null" target="_blank") {{ '#{ __("Yes") }' }}
        dl
          dt
            span #{ __("ISO 27017: ") }
            span.cert-span.text-dark-secondary(ng-if="detailVM.certs.iso27017 == null") {{ '#{ __("Not achieved yet") }' }}
            a.cert-span(href="{{ detailVM.certs.iso27017 }}" ng-if="detailVM.certs.iso27017 != null" target="_blank") {{ '#{ __("Yes") }' }}
        dl
          dt
            span #{ __("ISO 17025: ") }
            span.cert-span.text-dark-secondary(ng-if="detailVM.certs.iso17025 == null") {{ '#{ __("Not achieved yet") }' }}
            a.cert-span(href="{{ detailVM.certs.iso17025 }}" ng-if="detailVM.certs.iso17025 != null" target="_blank") {{ '#{ __("Yes") }' }}

.panel.panel-default.z-depth-1
  .panel-body
    .row
      .col-md-12
        .h4.text-dark-secondary
          strong #{ __("Extra Info") }
    .row
      .col-md-6
        dl
          dt #{ __("Offering Version") }
          dd.text-dark-secondary {{ detailVM.item.version }}
      .col-md-6
        dl
          dt #{ __("Last Updated") }
          dd.text-dark-secondary
            time {{ detailVM.item.lastUpdate | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}
    .row(ng-if="!detailVM.item.isBundle")
      .col-md-6
        dl
          dt #{ __("Product Name") }
          dd.text-dark-secondary {{ detailVM.item.productSpecification.name }}
          dt #{ __("Brand") }
          dd.text-dark-secondary {{ detailVM.item.productSpecification.brand }}
      .col-md-6
        dl
          dt #{ __("Product Version") }
          dd.text-dark-secondary {{ detailVM.item.productSpecification.version }}
          dt #{ __("ID Number") }
          dd.text-dark-secondary {{ detailVM.item.productSpecification.productNumber }}
    //- .row
    //-   .col-md-6
    //-     dl(ng-repeat="term in detailVM.item.productOffering.productOfferingTerm")   
    //-       dt #{ __("Terms and condition") }
    //-       dt {{ term.name }}  
    //-       dd.text-dark-secondary(ng-if="term.type == 'Custom'") {{ term.description }}
    //-       dd.text-dark-secondary(ng-if="term.type == 'Standard'") <a ng-href="{{term.description}}" target="_blank"> {{ term.description }} </a>
    div
      div(ng-if="detailVM.item.productSpecification.isBundle")
        .h5.text-dark-primary
          strong #{ __("Bundled Products") }

        .panel-group(id="bundled-products")
          .panel.panel-default.z-depth-1(ng-repeat="product in detailVM.item.productSpecification.bundledProductSpecification")
            .panel-heading
              .pull-right
                strong v{{ product.version }}
              .h4
                a.btn-block(data-toggle="collapse", data-parent="#bundled-products", data-target="#bundled-product-{{ $index }}")
                  span.item-text {{ product.name }}
            .panel-collapse.collapse(id="bundled-product-{{ $index }}")
              .panel-body
                .row
                  .col-md-6
                    dl
                      dt #{ __("Product Name") }
                      dd.text-dark-secondary {{ product.name }}
                      dt #{ __("Brand") }
                      dd.text-dark-secondary {{ product.brand }}
                  .col-md-6
                    dl
                      dt #{ __("Product Version") }
                      dd.text-dark-secondary {{ product.version }}
                      dt #{ __("ID Number") }
                      dd.text-dark-secondary {{ product.productNumber }}
