form(name="step.form", novalidate)
  .form-group
    label #{ __("Name") }
    input.form-control(
      type="text"
      name="name"
      ng-model="createVM.data.name"
      required
      readonly
    )
  .form-group
    label #{ __("Status") }
    .status-group
      .status-item(ng-repeat="status in FILTER_STATUS", class="status-{{ status.value | lowercase }}", ng-class="{ active: createVM.data.lifecycleStatus == status.value }")
        span.item-icon
        span.item-text {{ status.value }}
  .form-group
    label #{ __("Description") }
    textarea.form-control(
      rows="3",
      name="description",
      ng-model="createVM.data.description"
      readonly
    )
  .form-group.text-right
    a.btn.btn-warning(
      ng-click="createVM.create()"
      ng-disabled="!step.form.$valid || createVM.create.status === createVM.STATUS.PENDING"
    )
      span.item-icon.fa.fa-spin.fa-spinner(ng-if="createVM.create.status === createVM.STATUS.PENDING")
      span.item-text #{ __("Create") }