form(name="step.form", novalidate)
  .form-group
    label Name
    input.form-control(
      type="text"
      name="name"
      ng-model="createVM.data.name"
      required
      readonly
    )
  .form-group
    label Status
    .status-group
      .status-item(ng-repeat="status in FILTER_STATUS", class="status-{{ status.value | lowercase }}", ng-class="{ active: createVM.data.lifecycleStatus == status.value }")
        span.item-icon
        span.item-text {{ status.value }}
  .form-group
    label
      | Description 
      small.text-muted optional
    textarea.form-control(
      rows="3",
      name="description",
      ng-model="createVM.data.description"
      readonly
    )
  .form-group.text-right
    a.btn.btn-success(
      ng-click="createVM.create()"
      ng-disabled="!step.form.$valid"
    )
      span.item-text Create