form(name="updateVM.form", novalidate)
  .h4.text-dark-secondary
    strong General
  .form-group(
    ng-class="{ 'has-error': updateForm.hasError(updateVM.form.name) }"
  )
    label Name
    input.form-control(
      type="text"
      name="name"
      ng-model="updateVM.data.name"
      required
      ng-maxlength="30"
      field-unique="Catalogue"
      field-original-value="{{ updateVM.item.name }}"
    )
    .help-block(
      ng-messages="updateVM.form.name.$error"
      ng-show="updateForm.hasError(updateVM.form.name)"
    )
      span(ng-message="required") This field is required.
      span(ng-message="maxlength") This field must not exceed 30 chars.
      span(ng-message="unique") This name is already taken.
  .form-group
    label Status
    .status-group
      .status-item(ng-repeat="status in FILTER_STATUS", class="status-{{ status.value | lowercase }}", ng-click="updateVM.updateStatus(status.value)", ng-class="{ active: updateVM.data.lifecycleStatus == status.value, enabled: updateVM.data.lifecycleStatus == status.value && !updateVM.statusUpdated }")
        span.item-icon
        span.item-text {{ status.value }}
  .form-group
    label
      span Description
      small.text-muted (optional)
    textarea.form-control(rows="3", name="description", ng-model="updateVM.data.description")
  .form-group.text-right
    a.btn.btn-success(
      ng-click="updateVM.update()"
      ng-disabled="!updateVM.form.$valid || updateVM.update.status === updateVM.STATUS.PENDING"
    )
      span.item-icon.fa.fa-spin.fa-spinner(ng-if="updateVM.update.status === updateVM.STATUS.PENDING")
      span.item-text Update