.row
  .col-xs-12
    .row
      .col-sm-6
        .form-group(ng-class="{ 'has-error': vm.hasFieldError(form.street) }")
          label Street
          input.form-control(
            type="text"
            name="street"
            ng-model="postalAddress.medium.streetOne"
            required
            ng-maxlength="50"
          )
          .help-block(
            ng-messages="form.street.$error"
            ng-show="vm.hasFieldError(form.street)"
          )
            span(ng-message="required") This field is required.
            span(ng-message="maxlength") This field must not exceed 50 chars.
      .col-sm-6
        .form-group(ng-class="{ 'has-error': vm.hasFieldError(form.city) }")
          label City
          input.form-control(
            type="text"
            name="city"
            ng-model="postalAddress.medium.city"
            required
            ng-maxlength="50"
          )
          .help-block(
            ng-messages="form.city.$error"
            ng-show="vm.hasFieldError(form.city)"
          )
            span(ng-message="required") This field is required.
            span(ng-message="maxlength") This field must not exceed 50 chars.
    .row
      .col-sm-6
        .form-group(ng-class="{ 'has-error': vm.hasFieldError(form.postcode) }")
          label Postcode
          input.form-control(
            type="number"
            name="postcode"
            ng-model="postalAddress.medium.postcode"
            required
            convert-to-number
          )
          .help-block(
            ng-messages="form.postcode.$error"
            ng-show="vm.hasFieldError(form.postcode)"
          )
            span(ng-message="required") This field is required.
            span(ng-message="number") This field must be a valid number.
      .col-sm-6
        .form-group(ng-class="{ 'has-error': vm.hasFieldError(form.stateOrProvince) }")
          label State / Province
          input.form-control(
            type="text"
            name="stateOrProvince"
            ng-model="postalAddress.medium.stateOrProvince"
            required
            ng-maxlength="50"
          )
          .help-block(
            ng-messages="form.stateOrProvince.$error"
            ng-show="vm.hasFieldError(form.stateOrProvince)"
          )
            span(ng-message="required") This field is required.
            span(ng-message="maxlength") This field must not exceed 50 chars.
    .row
      .col-sm-6
        .form-group(ng-class="{ 'has-error': vm.hasFieldError(form.country) }")
          label Country
          select.form-control(
            name="country"
            ng-model="postalAddress.medium.country"
            required
          )
            option(value="") Choose country
            option(ng-repeat="country in vm.COUNTRIES", value="{{ country.code }}") {{ country.name }}
          .help-block(
            ng-messages="form.country.$error"
            ng-show="vm.hasFieldError(form.country)"
          )
            span(ng-message="required") This field is required.