.row
  .col-sm-6
    .form-group(ng-class="{ 'has-error': vm.hasFieldError(form.type) }")
      label #{ __("Type") }
      input.form-control(
        type="text"
        name="type"
        ng-model="telephoneNumber.characteristic.contactType"
        required
        ng-maxlength="100"
      )
      .help-block(
        ng-messages="form.type.$error"
        ng-show="vm.hasFieldError(form.type)"
      )
        span(ng-message="required") #{ __("This field is required.") }
        span(ng-message="maxlength") #{ __("This field must not exceed %s chars.", "100") }
  .col-sm-6
    .form-group(ng-class="{ 'has-error': vm.hasFieldError(form.number) }")
      label #{ __("Number") }
      input.form-control(
        international-phone-number,
        type="text"
        name="number"
        ng-model="telephoneNumber.characteristic.phoneNumber",
        convert-to-phone-number,
        required
      )
      .help-block(
        ng-messages="form.number.$error"
        ng-show="vm.hasFieldError(form.number)"
      )
        span(ng-message="required") #{ __("This field is required.") }
        span(ng-message="internationalPhoneNumber") #{ __("This field must be a valid number.") }