.row(ng-switch="searchVM.status")
  .col-xs-12(ng-switch-when="ERROR")
    .alert.alert-danger {{ searchVM.errorMessage }}
  .col-xs-12(ng-switch-when="LOADING")
    .container-spinner
      span.fa.fa-spinner.fa-spin.fa-2x
  .col-xs-12(ng-switch-when="LOADED")
    .alert.alert-info.text-center
        span.fa.fa-info-circle
        span  The shipping addresses will be used in your orders.
    .panel.panel-default.z-depth-1(ng-if="searchVM.list.length")
      .panel-body
        .h4.text-dark-secondary
          strong My shipping addresses
        hr
        .table-responsive
          table.table.table-bordered
            thead
              tr
                th Email address
                th Postal address
                th Telephone number
                th Actions
            tbody
              tr(ng-repeat="customer in searchVM.list")
                td {{ customer.getEmailAddress().toString() }}
                td {{ customer.getPostalAddress().toString() }}
                td {{ customer.getTelephoneNumber().toString() }}
                td
                  a.btn.btn-sm.btn-icon.btn-info(ng-click="searchVM.updateCustomer($index)")
                    span.item-icon.fa.fa-pencil
    .panel.panel-default.z-depth-1
      .panel-body(ng-controller="BillingAccountCreateCtrl as createVM")
        .h4.text-dark-secondary
          strong New shipping address
        hr
        shipping-address-form(
          form="createVM.form"
          controller="createVM"
          email-address="createVM.emailAddress"
          postal-address="createVM.postalAddress"
          telephone-number="createVM.telephoneNumber"
        )
        .form-group.text-right
          button.btn.btn-warning.z-depth-1(ng-disabled="!createVM.form.$valid" ng-click="createVM.create(createVM.form)")
            span.item-text Create