.row(ng-switch="searchVM.status")
  .col-xs-12(ng-switch-when="ERROR")
    .alert.alert-danger {{ searchVM.errorMessage }}
  .col-xs-12(ng-switch-when="LOADING")
    .container-spinner
      span.fa.fa-spinner.fa-spin.fa-2x
  .col-xs-12(ng-switch-when="LOADED")
    .alert.alert-info.text-center
        span.fa.fa-info-circle
        span  #{ __("The billing addresses will be used in your orders.") }
    .panel.panel-default.z-depth-1(ng-if="searchVM.list.length")
      .panel-body
        .h4.text-dark-secondary
          strong #{ __("My billing addresses") }
        hr
        .table-responsive
          table.table.table-bordered
            thead
              tr
                th #{ __("Email address") }
                th #{ __("Postal address") }
                th #{ __("Telephone number") }
                th #{ __("Actions") }
            tbody
              tr(ng-repeat="account in searchVM.list")
                td {{ account.serializeEmailAddress() }}
                td
                  span(style="white-space: pre-line;") {{ account.serializePostalAddress() }}
                td {{ account.serializeTelephoneNumber() }}
                td
                  a.btn.btn-sm.btn-icon.btn-info(ng-show="searchVM.canEditOrAdd()" ng-click="searchVM.updateAccount($index)")
                    span.item-icon.fa.fa-spin.fa-spinner(ng-if="searchVM.updateAccount.status === searchVM.STATUS.PENDING")
                    span.item-icon.fa.fa-pencil(ng-if="searchVM.updateAccount.status !== searchVM.STATUS.PENDING")
.panel.panel-default.z-depth-1(ng-show="searchVM.canEditOrAdd()")
  .panel-body(ng-controller="AccountCreateCtrl as createVM")
    .h4.text-dark-secondary
      strong #{ __("New billing address") }
    hr
    shipping-address-form(
      form="createVM.form"
      controller="createVM"
      email-address="createVM.emailAddress"
      postal-address="createVM.postalAddress"
      telephone-number="createVM.telephoneNumber"
    )
    .form-group.text-right
      a.btn.btn-warning(
        ng-click="createVM.create(createVM.form)"
        ng-disabled="!createVM.form.$valid || createVM.create.status === createVM.STATUS.PENDING"
      )
        span.item-icon.fa.fa-spin.fa-spinner(ng-if="createVM.create.status === createVM.STATUS.PENDING")
        span.item-text #{ __("Create") }