.row
  .col-sm-6
    .form-group(ng-class="{ 'has-error': updateForm.hasError(entryAttrVM.form.telephoneType) }")
      label Type
      input.form-control(
        type="text"
        name="telephoneType"
        ng-model="entryAttrVM.data.medium.type"
        required
        ng-maxlength="30"
      )
      .help-block(
        ng-messages="entryAttrVM.form.telephoneType.$error"
        ng-show="updateForm.hasError(entryAttrVM.form.telephoneType)"
      )
        span(ng-message="required") This field is required.
        span(ng-message="maxlength") This field must not exceed 30 chars.
  .col-sm-6
    .form-group(ng-class="{ 'has-error': updateForm.hasError(entryAttrVM.form.telephoneNumber) }")
      label Number
      input.form-control(
        type="number"
        name="telephoneNumber"
        ng-model="entryAttrVM.data.medium.number"
        required
      )
      .help-block(
        ng-messages="entryAttrVM.form.telephoneNumber.$error"
        ng-show="updateForm.hasError(entryAttrVM.form.telephoneNumber)"
      )
        span(ng-message="required") This field is required.
        span(ng-message="number") This field must be a valid number.