.row
  .col-sm-6
    .form-group(ng-class="{ 'has-error': updateForm.hasError(entryAttrVM.form.street) }")
      label Street
      input.form-control(
        type="text"
        name="street"
        ng-model="entryAttrVM.data.medium.streetOne"
        required
        ng-maxlength="50"
      )
      .help-block(
        ng-messages="entryAttrVM.form.street.$error"
        ng-show="updateForm.hasError(entryAttrVM.form.street)"
      )
        span(ng-message="required") This field is required.
        span(ng-message="maxlength") This field must not exceed 50 chars.
  .col-sm-6
    .form-group(ng-class="{ 'has-error': updateForm.hasError(entryAttrVM.form.stateOrProvince) }")
      label State / Province
      input.form-control(
        type="text"
        name="stateOrProvince"
        ng-model="entryAttrVM.data.medium.stateOrProvince"
        required
        ng-maxlength="50"
      )
      .help-block(
        ng-messages="entryAttrVM.form.stateOrProvince.$error"
        ng-show="updateForm.hasError(entryAttrVM.form.stateOrProvince)"
      )
        span(ng-message="required") This field is required.
        span(ng-message="maxlength") This field must not exceed 50 chars.
.row
  .col-sm-6
    .form-group(ng-class="{ 'has-error': updateForm.hasError(entryAttrVM.form.postcode) }")
      label Postcode
      input.form-control(
        type="number"
        name="postcode"
        ng-model="entryAttrVM.data.medium.postcode"
        required
      )
      .help-block(
        ng-messages="entryAttrVM.form.postcode.$error"
        ng-show="updateForm.hasError(entryAttrVM.form.postcode)"
      )
        span(ng-message="required") This field is required.
        span(ng-message="number") This field must be a valid number.
.row
  .col-sm-6
    .form-group(ng-class="{ 'has-error': updateForm.hasError(entryAttrVM.form.country) }")
      label Country
      select.form-control(
        name="country"
        ng-model="entryAttrVM.data.medium.country"
        required
      )
        option(value="") Choose country
        option(ng-repeat="country in COUNTRIES", value="{{ country.code }}") {{ country.name }}
      .help-block(
        ng-messages="entryAttrVM.form.country.$error"
        ng-show="updateForm.hasError(entryAttrVM.form.country)"
      )
        span(ng-message="required") This field is required.
  .col-sm-6
    .form-group(ng-class="{ 'has-error': updateForm.hasError(entryAttrVM.form.city) }")
      label City
      input.form-control(
        type="text"
        name="city"
        ng-model="entryAttrVM.data.medium.city"
        required
        ng-maxlength="50"
      )
      .help-block(
        ng-messages="entryAttrVM.form.city.$error"
        ng-show="updateForm.hasError(entryAttrVM.form.city)"
      )
        span(ng-message="required") This field is required.
        span(ng-message="maxlength") This field must not exceed 50 chars.