form(name="step.form", novalidate)
  .form-group(ng-class="{ 'has-error': createForm.hasError(step.form.name) }")
    label Enter a name
    input.form-control(
      type="text"
      name="name"
      ng-model="createVM.data.name"
      required
      ng-maxlength="30"
      field-unique="Category"
    )
    .help-block(
      ng-messages="step.form.name.$error"
      ng-show="createForm.hasError(step.form.name)"
    )
      span(ng-message="required") This field is required.
      span(ng-message="maxlength") This field must not exceed 30 chars.
      span(ng-message="unique") This name is already taken.
  .form-group
    label
      span Enter a description
      small.text-muted (optional)
    textarea.form-control(rows="3", name="description", ng-model="createVM.data.description")
  .item-toggle
    label.toggle Choose a parent category
      .track
        input(
          type="checkbox"
          ng-model="createVM.data.isRoot"
          ng-true-value="false"
          ng-false-value="true"
          ng-change="createVM.refresh()"
        )
        i.fa.fa-2x
  .form-group(ng-if="!createVM.data.isRoot", ng-controller="CategorySearchCtrl as categorySearchVM")
    .alert.alert-info(ng-if="!categorySearchVM.list.length") No categories found.
    .table-responsive(ng-if="categorySearchVM.list.length")
      input(type="hidden", ng-model="createVM.data.parentId", required)
      table.table.table-bordered.table-hover.table-selectable
        thead
          tr
            th Name
            th Updated
        tbody
          tr(ng-repeat="category in categorySearchVM.list", ng-class="{ active: createVM.category.id == category.id }", ng-click="createVM.setCategory(category)")
            td
              span(ng-repeat="parentCategory in category.getBreadcrumb()") {{ parentCategory.name }} / 
              strong {{ category.name }}
            td
              time(am-time-ago="category.lastUpdate")
  .form-group.text-right
    a.btn.btn-default.z-depth-1(ng-click="createForm.nextStep($index + 1, createVM.stepList[$index + 1])", ng-disabled="!step.form.$valid")
      span.item-text Next