.row
  .col-xs-12
    ol.breadcrumb
      li
        a(
          ui-sref="app.stock.product"
          ui-sref-opts="{ reload: true }"
          ui-sref-active-eq="active"
        )
          span Search product specification
      li
        a(
          ui-sref="app.stock.product.create"
          ui-sref-opts="{ reload: true }"
          ui-sref-active="active"
        )
          span New product
  .col-xs-12
    .panel.panel-default
      .panel-heading
        strong.text-uppercase New product
      .panel-body
        .row
          .col-xs-12.col-md-3
            ul.nav.nav-stacked.nav-stages
              li(ui-sref-active-eq="active")
                a(ui-sref="app.stock.product.create")
                  span.item-text 1. General
              li(ui-sref-active="active")
                a(ui-sref="app.stock.product.create.chars")
                  span.item-text 2. Characteristics
              li(ui-sref-active="active")
                a(ui-sref="app.stock.product.create.attachments")
                  span.item-text 3. Attachments
              li(ui-sref-active="active")
                a(ui-sref="app.stock.product.create.assets")
                  span.item-text 4. Digital asset
              li(ui-sref-active="active")
                a(ui-sref="app.stock.product.create.finish")
                  span.item-text 5. Finish
          .col-xs-12.col-md-9
            ui-view
              form(name="stages[0].form", novalidate)
                .row
                  .col-sm-8
                    .form-group(
                      ng-class="{ 'has-error': stages[0].form.name.$invalid && (stages[0].form.name.$dirty || stages[0].form.name.$touched) }"
                    )
                      label Name
                      input.form-control(
                        type="text"
                        name="name"
                        ng-model="productInfo.name"
                        required
                        ng-minlength="5"
                        ng-maxlength="30"
                      )
                      .help-block(
                        ng-messages="stages[0].form.name.$error"
                        ng-show="stages[0].form.name.$invalid && (stages[0].form.name.$dirty || stages[0].form.name.$touched)"
                      )
                        span(ng-message="required") This field is required.
                        span(ng-message="minlength") This field must contain at least 5 chars.
                        span(ng-message="maxlength") This field must not exceed 30 chars.
                  .col-sm-4
                    .form-group(
                      ng-class="{ 'has-error' : stages[0].form.version.$invalid && (stages[0].form.version.$dirty || stages[0].form.version.$touched) }"
                    )
                      label Version
                      input.form-control(
                        type="text"
                        name="version"
                        ng-model="productInfo.version"
                        required
                      )
                      .help-block(
                        ng-messages="stages[0].form.version.$error"
                        ng-show="stages[0].form.version.$invalid && (stages[0].form.version.$dirty || stages[0].form.version.$touched)"
                      )
                        span(ng-message="required") This field is required.
                .row
                  .col-sm-8
                    .form-group(
                      ng-class="{ 'has-error' : stages[0].form.brand.$invalid && (stages[0].form.brand.$dirty || stages[0].form.brand.$touched) }"
                    )
                      label Brand
                      input.form-control(
                        type="text"
                        name="brand"
                        ng-model="productInfo.brand"
                        required
                        ng-maxlength="30"
                      )
                      .help-block(
                        ng-messages="stages[0].form.brand.$error"
                        ng-show="stages[0].form.brand.$invalid && (stages[0].form.brand.$dirty || stages[0].form.brand.$touched)"
                      )
                        span(ng-message="required") This field is required.
                        span(ng-message="maxlength") This field must not exceed 30 chars.
                  .col-sm-4
                    .form-group(
                      ng-class="{ 'has-error' : stages[0].form.productNumber.$invalid && (stages[0].form.productNumber.$dirty || stages[0].form.productNumber.$touched) }"
                    )
                      label ID Number
                      input.form-control(
                        type="text"
                        name="productNumber"
                        ng-model="productInfo.productNumber"
                        required
                      )
                      .help-block(
                        ng-messages="stages[0].form.productNumber.$error"
                        ng-show="stages[0].form.productNumber.$invalid && (stages[0].form.productNumber.$dirty || stages[0].form.productNumber.$touched)"
                      )
                        span(ng-message="required") This field is required.
                .form-group
                  label
                    | Description 
                    small.text-muted optional
                  textarea.form-control(rows="3", name="description", ng-model="productInfo.description")
                .form-group.text-right
                  a.btn.btn-default(ui-sref="app.stock.product.create.chars", ng-disabled="!stages[0].form.$valid")
                    span.item-text Next
                    span.item-icon.fa.fa-arrow-right
