form(name="stages[2].form", novalidate)
  .row
    .col-sm-8
      .form-group
        label Name
        input.form-control(
          type="text"
          name="name"
          ng-model="productInfo.name"
          required
          readonly
        )
    .col-sm-4
      .form-group
        label Version
        input.form-control(
          type="text"
          name="version"
          ng-model="productInfo.version"
          required
          readonly
        )
  .row
    .col-sm-8
      .form-group
        label Brand
        input.form-control(
          type="text"
          name="brand"
          ng-model="productInfo.brand"
          required
          readonly
        )
    .col-sm-4
      .form-group
        label ID Number
        input.form-control(
          type="text"
          name="productNumber"
          ng-model="productInfo.productNumber"
          required
          readonly
        )
  .form-group
    label Description
    textarea.form-control(
      rows="3"
      name="description"
      ng-model="productInfo.description"
      readonly
    )

  .row
    .col-sm-12
      label Characteristics
      table.table.table-bordered
        thead
          tr
            th Name
            th Type
            th Is Configurable
        tbody(ng-show="charList.length")
          tr(ng-repeat="char in charList")
            td
              span {{ char.name }}
            td
              span {{ char.valueType }}
            td
              span {{ char.configurable }}
  .row
    .col-sm-12
      .form-group
        label Picture URL
        input.form-control(
          type="url"
          name="picture"
          ng-model="productInfo.attachment[0].url"
          readonly
        )

  .form-group.text-right
    button.btn.btn-success(type="button", ng-click="createProduct()", ng-disabled="!stages[2].form.$valid")
      span Create
