form(name="step.form", novalidate)
  .row
    .col-sm-8
      .form-group(
        ng-class="{ 'has-error': createVM.hasFieldError(step.form.name) }"
      )
        label #{ __("Enter a name") }
        input.form-control(
          type="text"
          name="name"
          ng-model="createVM.data.name"
          required
          ng-maxlength="100"
        )
        .help-block(
          ng-messages="step.form.name.$error"
          ng-show="createVM.hasFieldError(step.form.name)"
        )
          span(ng-message="required") #{ __("This field is required.") }
          span(ng-message="maxlength") #{ __("This field must not exceed %s chars.", "100") }
          span(ng-message="unique") #{ __("This name is already taken.") }
    .col-sm-4
      .form-group(
        ng-class="{ 'has-error' : createVM.hasFieldError(step.form.version) }"
      )
        label #{ __("Enter a version") }
        input.form-control(
          type="text"
          name="version"
          ng-pattern="/^\\d+\\.\\d+(\\.\\d+)*$/"
          ng-model="createVM.data.version"
          required
        )
        .help-block(
          ng-messages="step.form.version.$error"
          ng-show="createVM.hasFieldError(step.form.version)"
        )
          span(ng-message="required") #{ __("This field is required.") }
          span(ng-message="pattern") #{ __("Invalid version format") }
  .form-group
    label
      span #{ __("Enter a description") }
      small.text-muted (#{ __("optional") })
    textarea.form-control(rows="3", name="description", ng-model="createVM.data.description")
  .form-group
    label
      span #{ __("Enter places") }
      small.text-muted (#{ __("optional") })
    .input-group
      input.form-control(
        type="text"
        name="place"
        ng-model="createVM.place"
      )
      .input-group-btn
        a.btn.btn-default.z-depth-0(ng-disabled="!createVM.place.length", ng-click="createVM.createPlace()")
          span.item-icon.fa.fa-plus
  .h4(ng-if="createVM.places.length")
    .label.label-default.inline-block(ng-repeat="name in createVM.places")
      span.item-text {{ name }}
      span.item-icon.fa.fa-remove(ng-click="createVM.removePlace($index)")
  .form-group.text-right
    a.btn.btn-default.z-depth-1(ng-click="createForm.nextStep($index + 1, createVM.stepList[$index + 1])", ng-disabled="!step.form.$valid")
      span.item-text #{ __("Next") }