.row(ng-init="createVM.createSla()")
  .col-xs-12
    sla-table(controller="createVM" data="createVM.sla")
  .col-xs-12(ng-if="!createVM.sla.metrics.length")
    .alert.alert-info.text-center
      | #{ __("No SLA included.") }
  .col-xs-12(ng-if="createVM.slaEnabled")
    .h4.text-dark-primary
      strong #{ __("Define SLA") }
    hr
    sla-form(form="createVM.slaCreateForm" controller="createVM" data="createVM.sla")
    .form-group.text-left
      a.btn.btn-warning.z-depth-1(ng-disabled="!createVM.slaCreateForm.$valid" ng-click="createVM.createMetric()")
        span.item-icon.fa.fa-save
        span.item-text.hidden-xs.hidden-sm #{ __("Add metric") }
  .col-xs-12(ng-if="!createVM.slaEnabled && createVM.metricsUsed.length < 3")
    .form-group.text-left
      a.btn.btn-default.z-depth-1(ng-click="createVM.slaEnabled = true")
        span.item-text #{ __("Define new metric") }
  .col-xs-12
    form(name="step.form" novalidate)
      .form-group.text-right
        a.btn.btn-default.z-depth-1(ng-click="createForm.nextStep($index + 1, createVM.stepList[$index + 1])")
          span.item-text #{ __("Next") }