.row
  .col-xs-12
    price-plan-table(controller="createVM" data="createVM.pricingModels")
  .col-xs-12(ng-if="!createVM.pricingModels.length")
    .alert.alert-info.text-center
      | #{ __("No price plans included.") } #{ __("The offering can be open or free") }
    .item-toggle
      label.toggle #{ __("Is an open offering?") }
        .track
          input(type="checkbox", ng-model="createVM.isOpen")
          i.fa.fa-2x
  .col-xs-12(ng-if="createVM.pricePlanEnabled")
    .h4.text-dark-primary
      strong #{ __("New price plan") }
    hr
    price-plan-form(form="createVM.pricePlanCreateForm" controller="createVM" data="createVM.pricePlan")
    .form-group.text-left
      a.btn.btn-warning.z-depth-1(ng-disabled="!createVM.pricePlanCreateForm.$valid", ng-click="createVM.createPricePlan()")
        span.item-icon.fa.fa-save
        span.item-text.hidden-xs.hidden-sm #{ __("Create") }
  .col-xs-12(ng-if="!createVM.pricePlanEnabled")
    .form-group.text-left
      a.btn.btn-default.z-depth-1(ng-click="createVM.pricePlanEnabled = true")
        span.item-text #{ __("New price plan") }
  .col-xs-12
    form(name="step.form" novalidate)
      .form-group.text-right
        a.btn.btn-default.z-depth-1(ng-click="createForm.nextStep($index + 1, createVM.stepList[$index + 1])")
          span.item-text #{ __("Next") }