form(name="step.form", novalidate)
  .row
    .col-md-5
      .form-group(ng-init="createVM.createLicense()")
        label #{ __("Choose a type") }
        .dropdown
          a.btn.btn-block.btn-default.dropdown-toggle.z-depth-0(data-toggle="dropdown")
            span.item-text {{ createVM.license.licenseType }}
            span.item-icon.fa.fa-caret-down
          .dropdown-menu.dropdown-menu-right.z-depth-2
            a.dropdown-menu-item(ng-repeat="(key, value) in createVM.LICENSES" ng-click="createVM.license.setType(key)")
              span.item-text {{ value }}
  .row
    .switch(ng-switch='createVM.license.licenseType' ng-init='createVM.license.clearTerms()')

      .switch(ng-switch-when='Standard open data license')
        .col-md-12
          .form-group
            .h4.text-dark-secondary
              strong #{ __("Standard open data licenses") }
            .dropdown
              a.btn.btn-block.btn-default.dropdown-toggle.z-depth-0(data-toggle="dropdown")
                span.item-text {{ createVM.license.terms.title }}
                required
                span.item-icon.fa.fa-caret-down
              .dropdown-menu.dropdown-menu-right.z-depth-2
                a.dropdown-menu-item(ng-repeat="standard in createVM.standards" ng-click="createVM.license.setStandard(standard)")
                  span.item-text {{ standard.name }}


      .switch(ng-switch-when='Custom license (wizard)' ng-init='createVM.license.clearTerms()')
        .col-md-12
          .form-group
            .h4.text-dark-secondary
              strong #{ __("Custom license (wizard)") }
            .row
              .col-md-8
                label #{ __("Title") }
                input.form-control(
                  type="text"
                  name="termsTitle"
                  ng-model="createVM.license.terms.title"
                  required
                  ng-maxlength="100"
                )
            .row
              .col-md-12
                label
                  span #{ __("Enter a description") }
                  small.text-muted (#{ __("optional") })
                textarea.form-control(rows="3", name="termsDescription", ng-model="createVM.license.terms.description")
            .row
              .col-sm-6
                label #{ __("Exclusivity") }
                .dropdown
                a.btn.btn-block.btn-default.dropdown-toggle.z-depth-0(data-toggle="dropdown")
                  span.item-text {{ createVM.license.terms.exclusivity }}
                  span.item-icon.fa.fa-caret-down
                .dropdown-menu.dropdown-menu-right.z-depth-2
                  a.dropdown-menu-item(ng-repeat="exclusivity in createVM.exclusivities" ng-click="createVM.license.terms.exclusivity = exclusivity.name")
                    span.item-text {{ exclusivity.name }}
              .col-sm-6
                label #{ __("Sector") }
                .dropdown
                a.btn.btn-block.btn-default.dropdown-toggle.z-depth-0(data-toggle="dropdown")
                  span.item-text {{ createVM.license.terms.sector }}
                  span.item-icon.fa.fa-caret-down
                .dropdown-menu.dropdown-menu-right.z-depth-2
                  a.dropdown-menu-item(ng-repeat="sector in createVM.sectors" ng-click="createVM.license.terms.sector = sector.name")
                    span.item-text {{ sector.name }}
            .row
              .col-sm-6
                label #{ __("Region") }
                .dropdown
                a.btn.btn-block.btn-default.dropdown-toggle.z-depth-0(data-toggle="dropdown")
                  span.item-text {{ createVM.license.terms.region }}
                  span.item-icon.fa.fa-caret-down
                .dropdown-menu.dropdown-menu-right.z-depth-2
                  a.dropdown-menu-item(ng-repeat="region in createVM.regions" ng-click="createVM.license.terms.region = region.name")
                    span.item-text {{ region.name }}
              .col-sm-6
                label #{ __("Timeframe") }
                .dropdown
                a.btn.btn-block.btn-default.dropdown-toggle.z-depth-0(data-toggle="dropdown")
                  span.item-text {{ createVM.license.terms.duration.name }}
                  span.item-icon.fa.fa-caret-down
                .dropdown-menu.dropdown-menu-right.z-depth-2
                  a.dropdown-menu-item(ng-repeat="duration in createVM.timeframes" ng-click="createVM.license.setDuration(duration)")
                    span.item-text {{ duration.name }}
            .row
              .col-sm-6
                label #{ __("Purpose") }
                .dropdown
                a.btn.btn-block.btn-default.dropdown-toggle.z-depth-0(data-toggle="dropdown")
                  span.item-text {{ createVM.license.terms.purpose }}
                  span.item-icon.fa.fa-caret-down
                .dropdown-menu.dropdown-menu-right.z-depth-2
                  a.dropdown-menu-item(ng-repeat="purpose in createVM.purposes" ng-click="createVM.license.terms.purpose = purpose.name")
                    span.item-text {{ purpose.name }}
              .col-sm-6
                label #{ __("Transferability") }
                .dropdown
                a.btn.btn-block.btn-default.dropdown-toggle.z-depth-0(data-toggle="dropdown")
                  span.item-text {{ createVM.license.terms.transferability }}
                  span.item-icon.fa.fa-caret-down
                .dropdown-menu.dropdown-menu-right.z-depth-2
                  a.dropdown-menu-item(ng-repeat="transferability in createVM.transferabilities" ng-click="createVM.license.terms.transferability = transferability.name")
                    span.item-text {{ transferability.name }}

      .switch(ng-switch-when='Custom license (free-text)' ng-init='createVM.license.clearTerms()')
        .col-md-12
          .form-group
            .h4.text-dark-secondary
              strong #{ __("Custom license (free-text)") }
            .row
              .col-md-8
                label #{ __("Title") }
                input.form-control(
                  type="text"
                  name="termsTitle"
                  ng-model="createVM.license.terms.title"
                  required
                  ng-maxlength="100"
                )
            .row
              .col-md-12
                label
                  span #{ __("Enter a description") }
                textarea.form-control(rows="3", name="termsDescription", ng-model="createVM.license.terms.description")
                
                
     
  .form-group.text-right
      a.btn.btn-default.z-depth-1(ng-click="createForm.nextStep($index + 1, createVM.stepList[$index + 1])", ng-disabled="!step.form.$valid")
        span.item-text Next