form(name="step.form", novalidate)
  .row(ng-controller="CategorySearchCtrl as categorySearchVM")
    .col-xs-12(ng-if="categorySearchVM.status === categorySearchVM.STATUS.PENDING")
      .container-spinner
        span.fa.fa-spinner.fa-spin.fa-2x
    .col-xs-12(ng-if="categorySearchVM.status === categorySearchVM.STATUS.REJECTED")
      .alert.alert-danger.text-center
        span {{ categorySearchVM.errorMessage }}
    .col-xs-12(ng-if="categorySearchVM.status === categorySearchVM.STATUS.RESOLVED")
      .row
        .col-xs-12(ng-if="!categorySearchVM.list.length")
          .alert.alert-info.text-center #{ __("No categories found.") }
        .col-xs-12(ng-if="categorySearchVM.list.length")
          .form-group
            label
              span #{ __("Choose categories") }
              small.text-muted (#{ __("optional") })
            .table-responsive
              table.table.table-bordered.table-hover.table-selectable
                thead
                  tr
                    th #{ __("Name") }
                    th #{ __("Last Updated") }
                tbody
                  tr(ng-repeat="category in categorySearchVM.list | orderByParentId", ng-class="{ active: createVM.categories[category.id] != null, disabled: createVM.categoryIsDisabled(category) }", ng-click="createVM.setCategory(category)")
                    td
                      span(ng-repeat="parentCategory in category.getBreadcrumb()") {{ parentCategory.name }} / 
                      strong {{ category.name }}
                    td
                      time(am-time-ago="category.lastUpdate")
  .form-group.text-right
    a.btn.btn-default.z-depth-1(ng-click="createForm.nextStep($index + 1, createVM.stepList[$index + 1])", ng-disabled="!step.form.$valid")
      span.item-text #{ __("Next") }