form(name="step.form", novalidate)
  .h5.text-dark-secondary
    strong General
  .row
    .col-sm-8
      .form-group
        label Name
        input.form-control(
          type="text"
          name="name"
          ng-model="createVM.data.name"
          required
          readonly
        )
    .col-sm-4
      .form-group
        label Version
        input.form-control(
          type="text"
          name="version"
          ng-model="createVM.data.version"
          required
          readonly
        )
  .form-group
    label Status
    .status-group
      .status-item(ng-repeat="status in FILTER_STATUS", class="status-{{ status.value | lowercase }}", ng-class="{ active: createVM.data.lifecycleStatus == status.value }")
        span.item-icon
        span.item-text {{ status.value }}
  .form-group
    label Description
    textarea.form-control(
      rows="3"
      name="description"
      ng-model="createVM.data.description"
      readonly
    )
  .form-group(ng-if="createVM.places.length")
    label Places
    .h4
      .label.label-default.inline-block(ng-repeat="name in createVM.places")
        span.item-text {{ name }}
  .h5.text-dark-secondary
    strong Product Spec.
  .form-group
    input(type="hidden", ng-model="createVM.product.id", required)
    .table-responsive
      table.table.table-bordered
        thead
          tr
            th Status
            th Name
            th Type
            th Updated
        tbody
          tr
            td
              .status-item(class="status-{{ createVM.product.lifecycleStatus | lowercase }}")
                span.item-icon
                span.item-text {{ createVM.product.lifecycleStatus }}
            th {{ createVM.product.name }}
            td
              span.label(ng-class="createVM.product.isBundle ? 'label-bundle' : 'label-single'")
                | {{ createVM.product.isBundle ? 'Bundle' : 'Single' }}
            td
              time(am-time-ago="createVM.product.lastUpdate")
  .h5.text-dark-secondary
    strong Catalogue
  .form-group
    input(type="hidden", ng-model="createVM.catalogue.id", required)
    .table-responsive
      table.table.table-bordered
        thead
          tr
            th Status
            th Name
            th Rol
            th Updated
        tbody
          tr
            td
              .status-item(class="status-{{ createVM.catalogue.lifecycleStatus | lowercase }}")
                span.item-icon
                span.item-text {{ createVM.catalogue.lifecycleStatus }}
            th {{ createVM.catalogue.name }}
            td {{ createVM.catalogue.getRoleOf(user.id) }}
            td
              time(am-time-ago="createVM.catalogue.lastUpdate")
  .form-group(ng-show="createVM.hasCategories()")
    .h5.text-dark-secondary
      strong Categories
    .table-responsive
      table.table.table-bordered
        thead
          tr
            th Name
            th Updated
        tbody
          tr(ng-repeat="(key, category) in createVM.categories")
            td
              span(ng-repeat="parentCategory in category.getBreadcrumb()") {{ parentCategory.name }} / 
              strong {{ category.name }}
            td
              time(am-time-ago="category.lastUpdate")
  .row(ng-if="createVM.data.productOfferingPrice.length")
    .col-sm-12
      .h5.text-dark-secondary
        strong Price plans
      .table-responsive
      table.table.table-bordered
        thead
          tr
            th #
            th Name
            th Description
            th Price
        tbody
          tr(ng-repeat="priceplan in createVM.data.productOfferingPrice")
            th {{ $index + 1 }}
            th {{ priceplan.name }}
            th {{ priceplan.description }}
            td {{ priceplan.toString() }}
  .form-group(ng-show="createVM.data.isBundle")
    .h5.text-dark-secondary
      strong Bundled Offering
    .table-responsive
      table.table.table-bordered
        thead
          tr
            th Status
            th Name
            th Type
            th Updated
        tbody
          tr(ng-repeat="offering in createVM.data.bundledProductOffering")
            td
              .status-item(class="status-{{ offering.lifecycleStatus | lowercase }}")
                span.item-icon
                span.item-text {{ offering.lifecycleStatus }}
            th {{ offering.name }}
            td
              span.label(ng-class="offering.isBundle ? 'label-bundle' : 'label-single'")
                | {{ offering.isBundle ? 'Bundle' : 'Single' }}
            td
              time(am-time-ago="offering.lastUpdate")

  .form-group
    input(type="hidden", ng-model="createVM.data.serviceCandidate.id", required)
    .h5.text-dark-secondary
      strong  Revenue Sharing Model
    .table-responsive
      table.table.table-bordered
        thead
          tr
            th Product Class
            th Platform Percentage
            th Provider Percentage
            th Nº Stakeholders
        tbody
          tr
            td
              span {{ createVM.getSharingModel().productClass }}
            td
              span {{ createVM.getSharingModel().aggregatorValue }}
            td
              span {{ createVM.getSharingModel().ownerValue }}
            td
              span {{ createVM.getSharingModel().stakeholders.length }}
  .form-group.text-right
    a.btn.btn-success(ng-click="createVM.create()", ng-disabled="!step.form.$valid")
      span.item-text Create