.table-responsive
  table.table.table-bordered.table-hover
    thead
      tr
        th #{ __("Status") }
        th #{ __("Name") }
        th #{ __("Product Spec.") }
        th #{ __("Type") }
        th #{ __("Last Updated") }
    tbody
      tr(ng-repeat="offering in searchVM.list")
        td
          .status-item(class="status-{{ offering.lifecycleStatus | lowercase }}")
            span.item-icon
            span.item-text {{ offering.lifecycleStatus }}
        th
          a(ui-sref="stock.offering.update({ offeringId: offering.id })", ui-sref-opts="{ inherit: false }") {{ offering.name }}
        th
          a(ui-sref="stock.product.update({ productId: offering.productSpecification.id })") {{ offering.productSpecification.name }}
        td
          span.label(ng-class="offering.isBundle ? 'label-bundle' : 'label-single'")
            | {{ offering.isBundle ? '#{ __("Bundle") }' : '#{ __("Single") }' }}
        td
          time(am-time-ago="offering.lastUpdate")