form(name="step.form", novalidate)
  .row
    .col-sm-8
      .form-group
        label Name
        input.form-control(
          type="text"
          name="name"
          ng-model="createVM.data.name"
          required
          readonly
        )
    .col-sm-4
      .form-group
        label Version
        input.form-control(
          type="text"
          name="version"
          ng-model="createVM.data.version"
          required
          readonly
        )
  .form-group
    label Status
    .status-group
      .status-item(ng-repeat="status in FILTER_STATUS", class="status-{{ status.value | lowercase }}", ng-class="{ active: createVM.data.lifecycleStatus == status.value }")
        span.item-icon
        span.item-text {{ status.value }}
  .row
    .col-sm-8
      .form-group
        label Brand
        input.form-control(
          type="text"
          name="brand"
          ng-model="createVM.data.brand"
          required
          readonly
        )
    .col-sm-4
      .form-group
        label ID Number
        input.form-control(
          type="text"
          name="productNumber"
          ng-model="createVM.data.productNumber"
          required
          readonly
        )
  .row(ng-if="createVM.characteristics.length")
    .col-sm-12
      .h4.text-dark-secondary
        strong Characteristics
      table.table.table-bordered
        thead
          tr
            th #
            th Name
            th Type
            th Values
            th Default
        tbody
          tr(ng-repeat="characteristic in createVM.characteristics")
            th {{ $index + 1 }}
            td {{ characteristic.name }}
            td {{ characteristic.valueType }}
            td
              span(ng-repeat="value in characteristic.productSpecCharacteristicValue")
                span(ng-if="!$first") , 
                span {{ createVM.getFormattedValueOf(characteristic, value) }}
            td {{ createVM.getFormattedValueOf(characteristic, createVM.getDefaultValueOf(characteristic)) }}
  .form-group
    label Description
    textarea.form-control(
      rows="3"
      name="description"
      ng-model="createVM.data.description"
      readonly
    )
  .row
    .col-sm-12
      .h4.text-dark-secondary
        strong Attachments
      .form-group
        label Picture URL
        input.form-control(
          type="url"
          name="picture"
          ng-model="createVM.data.attachment[0].url"
          readonly
        )
  .form-group(ng-show="createVM.data.isBundle")
    label Bundled Products
    .table-responsive
      table.table.table-bordered
        thead
          tr
            th Status
            th Name
            th Type
            th Updated
        tbody
          tr(ng-repeat="product in createVM.data.bundledProductSpecification")
            td
              .status-item(class="status-{{ product.lifecycleStatus | lowercase }}")
                span.item-icon
                span.item-text {{ product.lifecycleStatus }}
            th {{ product.name }}
            td
              span.label(ng-class="product.isBundle ? 'label-bundle' : 'label-single'")
                | {{ product.isBundle ? 'Bundle' : 'Single' }}
            td
              time(am-time-ago="product.lastUpdate")
  .row(ng-if="createVM.data.productSpecificationRelationship.length")
    .col-sm-12
      .h4.text-dark-secondary
        strong Relationships
      .table-responsive
        table.table.table-bordered
          thead
            tr
              th Relationship
              th Name
              th Type
              th Updated
          tbody
            tr(ng-repeat="relationship in createVM.data.productSpecificationRelationship")
              td {{ relationship.parseType() }}
              th {{ relationship.productSpec.name }}
              td
                span.label(ng-class="relationship.productSpec.isBundle ? 'label-bundle' : 'label-single'")
                  | {{ relationship.productSpec.isBundle ? 'Bundle' : 'Single' }}
              td
                time(am-time-ago="relationship.productSpec.lastUpdate")
  .form-group.text-right
    a.btn.btn-warning(
      ng-click="createVM.create()"
      ng-disabled="!step.form.$valid || createVM.create.status === createVM.STATUS.PENDING"
    )
      span.item-icon.fa.fa-spin.fa-spinner(ng-if="createVM.create.status === createVM.STATUS.PENDING")
      span.item-text Create