form(name="step.form", novalidate)
  .row
    .col-sm-12
      .thumbnail.thumbnail-lg
        img(no-image, ng-src="{{ createVM.data.attachment[0].url }}")
  .row
    .col-sm-4
      label #{ __("How to provide?") }
      select.form-control(ng-model="createVM.pictureFormat")
        option(value="url") #{ __("Include picture URL") }
        option(value="file") #{ __("Upload picture") }

    .col-sm-8(ng-if="createVM.pictureFormat == 'url'")
      .form-group(
        ng-class="{ 'has-error': createForm.hasError(step.form.picture) }"
      )
        label #{ __("Include picture URL") }
        input.form-control(
          type="url"
          name="picture"
          ng-model="createVM.data.attachment[0].url"
        )
        .help-block(
          ng-messages="step.form.picture.$error"
          ng-show="createForm.hasError(step.form.picture)"
        )
          span(ng-message="url") #{ __("This field must be a valid URL.") }

    .col-sm-8(ng-if="createVM.pictureFormat == 'file'", ng-init="createVM.loadPictureController()")
      .form-group(
        ng-class="{ 'has-error': createForm.hasError(step.form.pictureFile) }"
      )
        label #{ __("Upload picture") }
        input.form-control(type="file", name="pictureFile" file-model="createVM.pictureFile")
        .help-block(
          ng-messages="step.form.pictureFile.$error"
          ng-show="createForm.hasError(step.form.pictureFile)"
        )
          span(ng-message="format") #{ __("The provided file is not a valid image") }
          span(ng-message="upload") #{ __("The provided image could not be uploaded") }
  .row
    .col-sm-12(
      ng-init="createVM.loadFileController()"
    )
      .form-group(
        ng-class="{ 'has-error': createForm.hasError(step.form.extraFile) }"
      )
        label Upload file
        input.form-control(
          type="file"
          name="extraFile"
          file-model="createVM.extraFile"
        )
        .help-block(
          ng-messages="step.form.extraFile.$error"
          ng-show="createForm.hasError(step.form.extraFile)"
        )
          span(
            ng-message="upload"
          ) Failed to upload the file
  .row
    .col-sm-12
      .form-group
        .input-group(
          ng-repeat="file in createVM.extraFiles"
        )
          input.form-control(
            type="text"
            value="{{ file.name }}"
            readonly
          )
          .input-group-btn
            a.btn.btn-danger.z-depth-0(ng-click="createVM.removeExtraFile($index)")
              span.item-icon.fa.fa-trash

  .form-group.text-right
    a.btn.btn-default.z-depth-1(ng-click="createForm.nextStep($index + 1, createVM.stepList[$index + 1])", ng-disabled="!step.form.$valid")
      span.item-text #{ __("Next") }
