form(name="step.form", novalidate)
  .row
    .col-sm-8
      .form-group
        label #{ __("Name") }
        input.form-control(
          type="text"
          name="name"
          ng-model="createVM.data.name"
          required
          readonly
        )
    .col-sm-4
      .form-group
        label #{ __("Version") }
        input.form-control(
          type="text"
          name="version"
          ng-model="createVM.data.version"
          required
          readonly
        )
  .form-group
    label #{ __("Status") }
    .status-group
      .status-item(ng-repeat="status in FILTER_STATUS", class="status-{{ status.value | lowercase }}", ng-class="{ active: createVM.data.lifecycleStatus == status.value }")
        span.item-icon
        span.item-text {{ status.value }}
  .row
    .col-sm-8
      .form-group
        label #{ __("Brand") }
        input.form-control(
          type="text"
          name="brand"
          ng-model="createVM.data.brand"
          required
          readonly
        )
    .col-sm-4
      .form-group
        label #{ __("ID Number") }
        input.form-control(
          type="text"
          name="productNumber"
          ng-model="createVM.data.productNumber"
          readonly
        )
  .form-group
    label #{ __("Description") }
    textarea.form-control(
      rows="3"
      name="description"
      ng-model="createVM.data.description"
      readonly
    )
  .row(ng-if="createVM.characteristics.length")
    .col-sm-12
      .h4.text-dark-secondary
        strong #{ __("Characteristics") }
      table.table.table-bordered
        thead
          tr
            th #
            th #{ __("Name") }
            th #{ __("Type") }
            th #{ __("Values") }
            th #{ __("Default") }
        tbody
          tr(ng-repeat="characteristic in createVM.characteristics")
            th {{ $index + 1 }}
            td {{ characteristic.name }}
            td {{ characteristic.valueType }}
            td
              span(ng-repeat="value in characteristic.productSpecCharacteristicValue")
                span(ng-if="!$first") ,
                span {{ createVM.getFormattedValueOf(characteristic, value) }}
            td {{ createVM.getFormattedValueOf(characteristic, createVM.getDefaultValueOf(characteristic)) }}
  .row(ng-if="createVM.data.attachment[0].url")
    .col-sm-12
      .h4.text-dark-secondary
        strong #{ __("Cover image") }
      .form-group
        label #{ __("Picture URL") }
        input.form-control(
          type="url"
          name="picture"
          ng-model="createVM.data.attachment[0].url"
          readonly
        )
  .row(ng-if="createVM.extraFiles.length")
    .col-sm-12
      .h4.text-dark-secondary
        strong Attachments
      table.table.table-bordered
        thead
          tr
            th #
            th Name
            th Type
        tbody
          tr(ng-repeat="extraFile in createVM.extraFiles")
            th {{ $index + 1 }}
            td {{ extraFile.name }}
            td {{ extraFile.type }}
  .form-group(ng-show="createVM.data.isBundle")
    label #{ __("Bundled Products") }
    .table-responsive
      table.table.table-bordered
        thead
          tr
            th #{ __("Status") }
            th #{ __("Name") }
            th #{ __("Type") }
            th #{ __("Last Updated") }
        tbody
          tr(ng-repeat="product in createVM.data.bundledProductSpecification")
            td
              .status-item(class="status-{{ product.lifecycleStatus | lowercase }}")
                span.item-icon
                span.item-text {{ product.lifecycleStatus }}
            th {{ product.name }}
            td
              span.label(ng-class="product.isBundle ? 'label-bundle' : 'label-single'")
                | {{ product.isBundle ? '#{ __("Bundle") }' : '#{ __("Single") }' }}
            td
              time(am-time-ago="product.lastUpdate")
  .row(ng-if="createVM.data.productSpecificationRelationship.length")
    .col-sm-12
      .h4.text-dark-secondary
        strong #{ __("Relationships") }
      .table-responsive
        table.table.table-bordered
          thead
            tr
              th #{ __("Relationship") }
              th #{ __("Name") }
              th #{ __("Type") }
              th #{ __("Last Updated") }
          tbody
            tr(ng-repeat="relationship in createVM.data.productSpecificationRelationship")
              td {{ relationship.relationshipType }}
              th {{ relationship.productSpec.name }}
              td
                span.label(ng-class="relationship.productSpec.isBundle ? 'label-bundle' : 'label-single'")
                  | {{ relationship.productSpec.isBundle ? '#{ __("Bundle") }' : '#{ __("Single") }' }}
              td
                time(am-time-ago="relationship.productSpec.lastUpdate")
   div(ng-if="createVM.license.terms.title")
    .row
      .col-sm-12
        .form-group
          label #{ __("Agreement title") }
          input.form-control(
            type="text"
            name="title"
            ng-model="createVM.license.terms.title"
            readonly
          )

    .form-group
      label
        span #{ __("Agreement text") }
      textarea.form-control(rows="6", name="text", ng-model="createVM.license.terms.description", readonly)

  .form-group.text-right
    a.btn.btn-warning(
      ng-click="createVM.create()"
      ng-disabled="!step.form.$valid || createVM.create.status === createVM.STATUS.PENDING"
    )
      span.item-icon.fa.fa-spin.fa-spinner(ng-if="createVM.create.status === createVM.STATUS.PENDING")
      span.item-text #{ __("Create") }
