form(name="step.form", novalidate)
  .form-group(ng-controller="ServiceSpecificationListCtrl as searchVM" ng-if="createForm.stepIndex == $index")
    .row(style="margin-bottom: 25px")
      .col-sm-12
        .input-group
          input.form-control(ng-keyup="searchVM.handleEnterKeyUp($event)",
          ng-model="searchVM.searchInput", type="text", placeholder="#{ __('Search') }...")

          .input-group-btn
            a.btn.btn-default.z-depth-0(ng-click="searchVM.launchSearch()", id="formSearch")
              span.item-icon.fa.fa-search
              span.item-text.hidden-xs #{ __("Search") }

    .row
      .col-xs-12(ng-if="searchVM.list.status === searchVM.STATUS.LOADING")
        .container-spinner
          span.fa.fa-spinner.fa-spin.fa-2x
      .col-xs-12(ng-if="searchVM.list.status === searchVM.STATUS.ERROR")
        .alert.alert-danger.text-center
          span {{ searchVM.errorMessage }}
      .col-xs-12(ng-if="searchVM.list.status === searchVM.STATUS.LOADED" ng-switch="searchVM.list.length")
        .alert.alert-info.text-center(ng-switch-when="0")
          span #{ __("No service specifications found.") }
        .table-responsive(ng-switch-default)
          table.table.table-bordered.table-hover.table-selectable
            thead
              tr
                th #{ __("Status") }
                th #{ __("Name") }
                th #{ __("Last Updated") }
            tbody
              tr(ng-repeat="service in searchVM.list",
                  ng-class="{ active: createVM.isActiveService(service.id) }", ng-click="createVM.handleService(service)")

                td
                  .status-item.text-nowrap(class="status-{{ service.lifecycleStatus | lowercase }}")
                    span.item-icon
                    span.item-text {{ service.lifecycleStatus }}
                th {{ service.name }}
                td
                  time(am-time-ago="service.lastUpdate")
        //pager(controller="searchVM", size="12", max="12" ng-init="searchVM.setFilters({status: STATUS.ACTIVE + ',' + STATUS.LAUNCHED})")

  .form-group.text-right
    a.btn.btn-default.z-depth-1(ng-click="createForm.nextStep($index + 1, createVM.stepList[$index + 1])")
      span.item-text #{ __("Next") }