form(name="step.form", novalidate)
  .row
    .col-sm-12
      .thumbnail.thumbnail-lg
        img(no-image, ng-src="{{ createVM.data.attachment[0].url }}")
  .row
    .col-sm-4
      label How to provide?
      select.form-control(ng-model="createVM.pictureFormat")
        option(value="url") Include picture URL
        option(value="file") Upload picture

    .col-sm-8(ng-if="createVM.pictureFormat == 'url'")
      .form-group(
        ng-class="{ 'has-error': createForm.hasError(step.form.picture) }"
      )
        label Include picture URL
        input.form-control(
          type="url"
          name="picture"
          ng-model="createVM.data.attachment[0].url"
        )
        .help-block(
          ng-messages="step.form.picture.$error"
          ng-show="createForm.hasError(step.form.picture)"
        )
          span(ng-message="url") This field must be a valid URL.

    .col-sm-8(ng-if="createVM.pictureFormat == 'file'", ng-init="createVM.loadPictureController()")
      .form-group(
        ng-class="{ 'has-error': createForm.hasError(step.form.pictureFile) }"
      )
        label Upload picture
        input.form-control(type="file", name="pictureFile" file-model="createVM.pictureFile")
        .help-block(
          ng-messages="step.form.pictureFile.$error"
          ng-show="createForm.hasError(step.form.pictureFile)"
        )
          span(ng-message="format") The provided file is not a valid image
          span(ng-message="upload") The provided image could not be uploaded

  .form-group.text-right
    a.btn.btn-default.z-depth-1(ng-click="createForm.nextStep($index + 1, createVM.stepList[$index + 1])", ng-disabled="!step.form.$valid")
      span.item-text Next