form(name="step.form", novalidate)
  .row
    .col-sm-12
      .form-group(
        ng-class="{ 'has-error': createForm.hasError(step.form.name) }"
      )
        label #{ __("EU Cloud Security") }
        input.form-control(
          type="text"
          name="cloudSecurity"
          ng-model="createVM.compliance.cloudSecurity"
        )
        .help-block(
          ng-messages="step.form.name.$error"
          ng-show="createForm.hasError(step.form.name)"
        )
  .row
    .col-sm-12
      .form-group(
        ng-class="{ 'has-error': createForm.hasError(step.form.name) }"
      )
        label #{ __("EU Cloud Rulebook") }
        input.form-control(
          type="text"
          name="cloudRulebook"
          ng-model="createVM.compliance.cloudRulebook"
        )
        .help-block(
          ng-messages="step.form.name.$error"
          ng-show="createForm.hasError(step.form.name)"
        )
  .row
    .col-sm-12
      .form-group(
        ng-class="{ 'has-error': createForm.hasError(step.form.name) }"
      )
        label #{ __("ISO 27001") }
        input.form-control(
          type="text"
          name="iso27001"
          ng-model="createVM.compliance.iso27001"
        )
        .help-block(
          ng-messages="step.form.name.$error"
          ng-show="createForm.hasError(step.form.name)"
        )
  .row
    .col-sm-12
      .form-group(
        ng-class="{ 'has-error': createForm.hasError(step.form.name) }"
      )
        label #{ __("ISO 27017") }
        input.form-control(
          type="text"
          name="iso27017"
          ng-model="createVM.compliance.iso27017"
        )
        .help-block(
          ng-messages="step.form.name.$error"
          ng-show="createForm.hasError(step.form.name)"
        )
  .row
    .col-sm-12
      .form-group(
        ng-class="{ 'has-error': createForm.hasError(step.form.name) }"
      )
        label #{ __("ISO 17025") }
        input.form-control(
          type="text"
          name="iso17025"
          ng-model="createVM.compliance.iso17025"
        )
        .help-block(
          ng-messages="step.form.name.$error"
          ng-show="createForm.hasError(step.form.name)"
        )
  .form-group.text-right
    a.btn.btn-default.z-depth-1(ng-click="createForm.nextStep($index + 1, createVM.stepList[$index + 1])", ng-disabled="!step.form.$valid")
      span.item-text #{ __("Next") }
