form(name="step.form", novalidate)
  div(ng-if="createVM.data.isBundle")
    .alert.alert-info.text-center #{ __("Product bundles cannot directly include digital assets") }

  div(ng-if="!createVM.data.isBundle")
    .item-toggle
      label.toggle #{ __("Is a digital product?") }
        .track
          input(
            type="checkbox"
            ng-model="createVM.isDigital"
          )
          i.fa.fa-2x
    div(ng-if="createVM.isDigital")
      create-asset-form(controller="createVM")

  .form-group.text-right
    a.btn.btn-default.z-depth-1(ng-click="createForm.nextStep($index + 1, createVM.stepList[$index + 1])",
        ng-disabled="createVM.isDigital && !createVM.assetCtl.isValidAsset()")
      span.item-text #{ __("Next") }