.table-responsive
  table.table.table-bordered.table-hover
    thead
      tr
        th #{ __("Status") }
        th #{ __("Name") }
        th #{ __("ID") }
        th #{ __("Brand") }
        th #{ __("Type") }
        th #{ __("Last Updated") }
    tbody
      tr(ng-repeat="product in searchVM.list")
        td
          .status-item(class="status-{{ product.lifecycleStatus | lowercase }}")
            span.item-icon
            span.item-text {{ product.lifecycleStatus }}
        th
          a(ui-sref="stock.product.update({ productId: product.id })", ui-sref-opts="{ inherit: false }") {{ product.name }}
        td {{ product.productNumber }}
        td {{ product.brand }}
        td
          span.label(ng-class="product.isBundle ? 'label-bundle' : 'label-single'")
            | {{ product.isBundle ? '#{ __("Bundle") }' : '#{ __("Single") }' }}
        td
          time(am-time-ago="product.lastUpdate")