.row
  .col-xs-12
    .btn-toolbar.pull-right
      .btn-group.z-depth-1
        a.btn.btn-default(ui-sref="stock.product.update.bundled({ flow: 1 })", ui-sref-active="active")
          span.item-icon.fa.fa-th
        a.btn.btn-default(ui-sref="stock.product.update.bundled({ flow: 2 })", ui-sref-active="active")
          span.item-icon.fa.fa-th-list
  .col-xs-12(ng-switch="updateVM.$state.params.flow")
    .container-flex(ng-switch-when="1")
      .panel.panel-default.item-product.z-depth-1(ng-repeat="product in updateVM.item.bundledProductSpecification")
        a.thumbnail.thumbnail-lg(ui-sref="stock.product.update({ productId: product.id })", ui-sref-opts="{ inherit: false }")
          span.label(class="label-{{ product.isBundle ? 'bundle' : 'single' }}")
            | {{ product.isBundle ? product.bundledProductSpecification.length + ' #{ __("bundled") }' : '#{ __("Single") }' }}
          img(no-image, ng-src="{{ product.getPicture() }}")
        .panel-body
          .h4
            strong
              a(ui-sref="stock.product.update({ productId: product.id })", ui-sref-opts="{ inherit: false }") {{ product.name }}
          .form-group.text-dark-secondary
            span.pull-right
              time(am-time-ago="product.lastUpdate")
            p v{{ product.version }}
            p {{ product.description ? product.description : '#{ __("No description provided.") }' }}
          .status-group
            .status-item.active(class="status-{{ product.lifecycleStatus | lowercase }}")
              span.item-icon
              span.item-text {{ product.lifecycleStatus }}
    .table-responsive(ng-switch-when="2")
      table.table.table-bordered.table-hover
        thead
          tr
            th #{ __("Status") }
            th #{ __("Name") }
            th #{ __("ID") }
            th #{ __("Brand") }
            th #{ __("Type") }
            th #{ __("Last Updated") }
        tbody
          tr(ng-repeat="productSpec in updateVM.item.bundledProductSpecification")
            td
              .status-item(class="status-{{ productSpec.lifecycleStatus | lowercase }}")
                span.item-icon
                span.item-text {{ productSpec.lifecycleStatus }}
            th
              a(ui-sref="stock.product.update({ productId: productSpec.id })", ui-sref-opts="{ inherit: false }") {{ productSpec.name }}
            td {{ productSpec.productNumber }}
            td {{ productSpec.brand }}
            td
              span.label(ng-class="productSpec.isBundle ? 'label-bundle' : 'label-single'")
                | {{ productSpec.isBundle ? '#{ __("Bundle") }' : '#{ __("Single") }' }}
            td
              time(am-time-ago="productSpec.lastUpdate")